[2017-02-23 18:33] konklone opened #6 "No HTTPS support"
https://code.mil presents a certificate warning saying that it's not valid for the correct hostname, since [GitHub Pages doesn't support HTTPS for custom domains](https://github.com/isaacs/github/issues/156).

Code.mil should terminate TLS separately, and either proxy from there to GitHub Pages (in the clear, but at least not part of user connections), or host the content yourselves. It's not like

[2017-02-23 19:28] BrandonBouier commented on #6
Thanks for the input! We'll take a lot at it.

[2017-02-23 19:40] storrgie opened #7 "What is this project?"
I'm confused about what this project is (after reading through things).

Edit: sorry that seems snarky, I'm actually quite interested (we're working on similar measures at our organization) but find a lot of this to be placeholder without a clearly communicated general intent. Like, a bullet-ed list of what the intended goal is.

[2017-02-23 19:51] BrandonBouier commented on #7
Hi @storrgie,

Code.mil is an experiment in open source at DoD. It's rolling out in phases. The first phase is the release of our draft open source agreement for comment. The next phase will occur In a few weeks, when we will finalize the agreement and then open source a few projects developed by the Defense Digital Service. We are hope you will consider providing feedback on our draft agreement a

[2017-02-23 20:29] #7 closed

[2017-02-23 21:51] ckaran opened #8 "PLEASE read EVERYTHING ARL has done"
tldr version: the legal stuff is **really** complicated.  See [this dicussion](https://github.com/openjournals/joss/issues/179) for some of the legal issues involved.  The license agreement you've put together **does not** address many of the issues.

[ARL](http://www.arl.army.mil/www/default.cfm) has been wrestling with the legal issues since October 2015.  They are _complex_.  You can read some

[2017-02-23 21:52] ckaran opened #9 "Contact the folks at Code.gov"
If you haven't already done so, please contact the folks at [code.gov](https://code.gov).  They can offer good guidance on what to do.

[2017-02-23 21:56] ckaran opened #10 "OSI approval?"
It would a good idea to try to get [OSI](https://opensource.org/) approval for any license you put forwards; this will make your code truly Open Source, which many outside projects require before they'll accept any code.  [ARL](http://www.arl.army.mil) has been trying to do so with its own license, but is awaiting more guidance from the folks at [code.gov](http://code.gov) before continuing the pu

[2017-02-23 23:41] aggieben commented on #8
With respect to your comments about the legal complexities and the inadequacy of this draft license so far, @ckaran, I completely agree.

However, I think it is inappropriate to use GH issues to redirect the repository owners into a private discussion with you, which sort of defeats the point of being on GH in the first place.  That discussion belongs squarely right here.

[2017-02-23 23:43] aggieben opened #11 "How will this affect contractors?"
As a former employee of a rather large defense contractor, I'm aware that quite a lot of DoD's procurements are done through a commercial bidding process, and that much of the technology that DoD has rights to is created by non-DoD personnel and businesses rather than directly by DoD personnel.

What, if any, affect would this licensing effort have on those technologies?  What affect might it have

[2017-02-24 00:46] marctjones opened #12 "What is the legal basis for this agreement?"
Your agreement suggests that you are requiring everyone to include the terms of the agreement with the software when they make copies. Since all works of the federal government are in the public domain, can't anyone in the United States just copy the software without needing permission from this agreement, or following the terms of the agreement?

[2017-02-24 00:51] marctjones opened #13 "Why do you mix the "licensed" use of the software with contributor agreement policies?"
Why does this "agreement" discuss the contributor agreement and the redistribution and use of the software. It seems like most organizations treat thier contributor policies and agreements as separate from their licensing agreements to users.

Is it suggesting that the official policy of the DOD is now only to accept code contributions to using the Linux project's DCO. Is there a rule making or ot

[2017-02-24 01:16] tinjaw opened #14 "You will need to change the law if I am correct"
I am a government employee. I write software. Everything I write is PUBLIC DOMAIN. I tried many many times to use a license (any license) and was told by the Army lawyers that by law it is PUBLIC DOMAIN and can not be put under any license. One example was during the APPS for ARMY contest. I was told that I had no choice. I could not license it in any way.

How is this proposal different? Is anybo

[2017-02-24 06:31] tomberek commented on #13
This agreement would only apply to those projects which adopt it and does not attempt to set DoD-wide policy. This does not establish a rule or policy, nor does it apply to all DoD projects.

The DCO mechanism is a recommendation for Program Managers to adopt.

[2017-02-24 06:34] tomberek commented on #14
@tinjaw The law has not changed, your work is still Public Domain from a copyright perspective. That is why this agreement exists, it uses a contract law, rather than copyright law, to establish a situation which would normally be handled by using an existing open source license.

@shawoods : you may have some comments.

[2017-02-24 06:36] tomberek commented on #9
We are in touch with them and collaborating. Thanks!

[2017-02-24 06:36] #9 closed

[2017-02-24 06:45] tomberek commented on #10
@ckaran : We are already pursuing OSI approval, thanks for the suggestion. We'll post here when we have more news.

[2017-02-24 13:45] marctjones commented on #14
The problem with using contract law instead of relying on a license is that you really can't do that successfully. And frankly I do not understand even why you would want to. What is the motivation for trying to impose a FOSS like license via contract law. Why is there an objection to having the code unfettered in the public domain. Isn't what you are trying to do here restrict American's rights t

[2017-02-24 13:48] marctjones commented on #10
@ckaran Has ARL made the license they are proposing to OSI publicly available?

[2017-02-24 14:01] marctjones commented on #13
Why mix the the idea of a license and the policy on accepting contributions though? Wouldn't it be simpler to just refuse to accept contributions from non-government employees unless they granted you a license under the FOSS license of your choosing?

For instance an easy way to transfer your government work into a GPL licensed work would be to simply include source code created by a non-federal e

[2017-02-24 14:52] paragonie-scott commented on #14
The problem with public domain is that other jurisdictions do not recognize it in their own local enforcement of copyright law, so effectively by virtue of living in these jurisdictions you're effectively violating the copyright laws.

That has prompted the existence of CC0 and other licenses.

Attaching a public license to public domain code might seem silly, but unfortunately that's a necessary

[2017-02-24 14:57] marctjones commented on #14
Isn't that situation better addressed by a simple public domain dedication rather than trying to enforce a contract?

Or simply stating that where this work is not in the public domain it is licensed under the terms of a existing FOSS license? (Although that case seems like it could get confusing really quick, which is probably why most other agencies have opt for simply doing a public domain dedi

[2017-02-24 15:00] johnmod3 commented on #14
we went thru a long discussion on this when Army Research Lab came out with their OSS policy. they we trying to create their own OSS-type license agreement as well. see https://github.com/USArmyResearchLab/ARL-Open-Source-Guidance-and-Instructions
and eventually came to CC0 1.0 Universal
License proliferation isn't the best thing for the OSS community : https://en.wikipedia.org/wiki/License_prolif

[2017-02-24 15:38] shawoods commented on #11
This initiative and the draft agreement will not have any direct effect on contractors. The projects we are intending to open source have been developed exclusively by Government employees. The mechanisms for open sourcing code written by Government employees versus code written by contractors on behalf of the Government are very different. You are correct that much of the code written for DoD is

[2017-02-24 15:40] shawoods commented on #13
@marctjones These are great suggestions and exactly the kind of feedback we were hoping to receive by putting the draft agreement out there for comment. Thank you for your thoughtful input! We will definitely consider it.

[2017-02-24 15:43] nanjizal opened #19 "I always feel happy contributing to MIT licensed projects."
I don't know or care about the limitations that you may have on licences since I am not from the US.

But I think the modern approach is to use MIT licences where ever possible on all github projects, then users can use the code fairly freely for commercial, experimental or educational use.
If you have a problem creating the MIT licences directly then perhaps hire a company who can, then contribut

[2017-02-24 16:20] dosaygo-coder-0 opened #21 "Probably need to address moral rights"
Moral rights are rights of creators of copyrighted works generally recognized in civil law jurisdictions and, to a lesser extent, in some common law jurisdictions. They include the right of attribution, the right to have a work published anonymously or pseudonymously, and the right to the integrity of the work.

Moral rights can exist even if the work is in the public domain.

I don't know if they

[2017-02-24 16:21] tomberek commented on #19
Thank you for the perspective. We've had these same discussions internally. We did not want to endorse a particular license and we intend each project to decide which license is appropriate for them. Some may choose MIT, BSD, Apache, or eventually GPL. We did not want to take that choice away from them.

Closing this issue, feel free to re-open to comment or continue the conversation.

To clarify:

[2017-02-24 16:21] #19 closed

[2017-02-24 16:26] dosaygo-coder-0 opened #22 "Section 6 could be header plus paragraph"
The section 6 header is hard to write, but maybe something like, Rights Covering this Agreement

And the current header could be its paragraph.

I think it currently looks like section 6 is more important than the rest because it is all header.

[2017-02-24 16:28] shawoods commented on #21
@dosaygo-coder-0 This is a super important and tricky area. We'll definitely have to think through this one before we make any changes if any are made. Because our intent is to reuse widely adopted, existing open source licenses, we're not sure we need to do anything special in the agreement. What are your thoughts about that?

[2017-02-24 16:47] shawoods commented on #8
@ckaran The legal issues are complex as you've said. We are very aware of what ARL has done, and it's clear you all put a lot of work into it!

We know this is a little different than what other Government offices have done, which is we why put it out as a draft and have actively invited community comment. At the end of the day, our main goal is to foster DoD participation in the open source commu

[2017-02-24 16:56] Xe opened #24 "Why not CC0?"
https://creativecommons.org/publicdomain/zero/1.0/

This is a public domain license that might help for this.

[2017-02-24 16:56] jbjonesjr commented on #8
This is one of the most refreshing parts about this effort to me. Instead of assuming CC-0, or working towards a new license that the community (and foundations) need to accept, this is an attempt to mostly stand on the back of the already approved and used (and in most cases, litigated) licenses. Being able to to equate a Government project to a normal license should reduce the barrier to entry f

[2017-02-24 17:03] BrandonBouier commented on #8
@jbjonesjr You hit the nail on the head - that's exactly what we're trying to do here.

[2017-02-24 17:04] deveyNull opened #25 "Comparison to NSA Licenses"

[2017-02-24 17:10] BrandonBouier commented on #22
@dosaygo-coder-0 Thanks - would it be possible for you to submit a pull request showing how you think it should look?

[2017-02-24 17:14] shawoods commented on #14
You are all raising very valid issues and questions.

First, I want to provide our perspective about “public domain.” The idea that U.S. law requires Federal government employees to put creative works in the public domain is a bit of an overstatement. The U.S. Copyright Act does not explicitly define public domain. What the Act actually does is make works created by U.S. Federal government employe

[2017-02-24 17:17] shawoods commented on #24
Check out the third question in https://github.com/deptofdefense/code.mil/blob/master/FAQ.md.

[2017-02-24 17:22] Nazgolze opened #27 "proposed open source license agreement"
make public domain great again ;-)

[2017-02-24 17:24] Nazgolze commented on #27
whoops. I see now that public domain is ruled out. nvm then

[2017-02-24 17:24] #27 closed

[2017-02-24 17:31] marctjones commented on #13
@shawoods Really glad to see a government agency being open minded about using more licenses including copyleft licenses. So glad to see the willingness to experiment! You might want to invite more FOSS attorneys into the discussion though. For example introducing contract law is a bit of a controversial topic amongst FOSS lawyers as well since there is some debate about if some of the existing li

[2017-02-24 17:58] #25 closed

[2017-02-24 18:21] MadArkitekt opened #29 "Immediate, Crowdsourced Data from Disaster Areas"
My proposal will collect crucial pictorial, cartographic and topological data during the early stages of disasters, natural or otherwise.

Among witnesses and first responders, smartphones abound. During disasters or emergency responses, information, specifically environmental, reigns king.

Say an earthquake brings a building down. First responders haven't a much data regarding the area around th

[2017-02-24 18:41] blakelapierre commented on #14
Why is the US government providing different guidance on this issue to different people? tinjaw says that Army lawyer's were very explicit about being unable to license code, but here is the Dept. of Defense claiming otherwise?

[2017-02-24 18:48] BrandonBouier commented on #29
@MadArkitekt this repo is to solicit feedback for our draft Defense Open Source Agreement. While I appreciate your enthusiasm for your proposal, it should not be filed as an issue under this repo since it is not applicable. So I'm going to close this comment.

[2017-02-24 18:48] #29 closed

[2017-02-24 19:21] tomberek commented on #24
Closing issue as answered. Please re-open if needed.

[2017-02-24 19:21] #24 closed

[2017-02-24 19:22] stuarthannig commented on #24
Direct link: https://github.com/deptofdefense/code.mil/blob/master/FAQ.md#since-software-created-by-us-federal-government-employees-does-not-have-copyright-protections-in-the-us-why-not-just-put-it-in-the-public-domain-and-use-cc0-10-for-international-jurisdictions-where-you-have-copyright

[2017-02-24 19:55] kfogel commented on #13
I'm glad @marctjones asked this question; I was having the same thought.

An open source license is what grants a forker the right to fork -- it's not about what originator takes in, it's about lifting redistribution restrictions on what goes out.

The originator's acceptance of inbound contributions is an unrelated matter, and it might actually be inadvisable to put anything at all about it in th

[2017-02-24 20:11] sephcoster commented on #14
First - Thanks for having this discussion in the open 👏   and thanks for your replies to date.

Can you explain more about the Contract Theory approach and the use cases it addresses that are not already addressed by the approaches  (many CC1.0) of 18F, Code.gov, CFPB, NASA, etc?

What kinds of scenarios / contribution models would the proposed differences help solve for / promote? Should other go

[2017-02-24 20:21] MadArkitekt commented on #29
Sorry about that, Github client on phone harder to navigate.

[2017-02-24 20:47] storrgie commented on #8
One thing that shouldn't be overlooked is the apparent pressure that exists for the local leaders of R&D organizations within the DoD. The incentive structures here run very deep and are difficult to understand, but the effects are obvious. Your repository is a response to what many of us are living day-to-day. Certain organizations have made significantly more progress in this area, notably ARL o

[2017-02-24 21:13] enckse commented on #8
I generally agree with @storrgie but to add that even a ticket that says "PLEASE read EVERYTHING ARL has done" indicates a lack of communication within the DoD itself where this is just another form of decision and movement coming forward where it seems like members of the community they might be trying to serve are not even involved in whatever is being decided upon on our behalf.

This is not me

[2017-02-24 21:25] 2grep opened #30 "How does this interact with tech transfer law?"
Glad to see this starting! One issue to add to the list: there's a huge amount of law around technology transfer out of the government, with a big chunk of it being around Cooperative Research and Development Agreements. The standard is that the USG gets a world-wide non-exclusive license to any work product that results from a CRADA. I'm in Navy Medicine, and have several executed CRADAs. Here's

[2017-02-24 21:30] konklone commented on #8
@cmkaran As another fellow government employee, I want to just say that this opening a ticket with all-caps words in the title and a stern scolding tone was a deeply unprofessional way to open a dialogue with another agency.

You may be frustrated at not being consulted or something, but an approach of public bullying is never the right response, and reflects very poorly on your organization.

[2017-02-24 21:43] storrgie commented on #8
@konklone this in no way was bullying. Uness @ckaran comes in and tells us that was his explicit intent. It appeared to me that @ckaran would like to share with you what has been being worked for a couple years by and organization that despite the DoD as a whole... has actually been pursuing openness.

Nobody expects to be consulted in this juggernaut of an ecosystem we're participating in. Rather

[2017-02-24 22:22] grant51802 opened #31 "Happened across Code.mil"
Maybe i should have put this under projects?

I'm new to all this coding. I started because I'm trying to develop a program that can track training events and the vast amounts of data that happen just in a single training event. Both active and reserve components consume resources, train personnel, absorb training land, etc... Those are the easy numbers to follow.  More over, I wanted to create a

[2017-02-24 22:25] tinjaw commented on #14
BTW, As a DoD organization, you fall under the DODCIO. And the CIO says that [existing OS licenses are good enough](http://dodcio.defense.gov/Open-Source-Software-FAQ/#Q:_What_license_should_the_government_or_contractor_choose.2Fselect_when_releasing_open_source_software.3F). As a Department of the Army civilian, I need to follow Army rules and regulations. If I am following "my commander's guidan

[2017-02-24 22:31] BrandonBouier commented on #31
Hi @grant51802.

This repo is to solicit feedback for our draft Defense Open Source Agreement. Unless I'm mistaken, what you're talking about doesn't seem relevant to that. Care to elaborate?

[2017-02-24 23:13] grant51802 commented on #31
It's probably not relevant. To be honest I'm fumbling around trying to learn coding to do some of the things I mentioned earlier. I ended up stumbling onto your page here where I think I just saw Open Source and DOD. I figured it can't hurt to post something.

Maybe you can help steer me in the right direction though.

I am currently doing AC/RC (not sure how familiar you are with specific branch

[2017-02-24 23:44] eshellman opened #33 "Poor optics."
This is an interesting approach to the problem- I understand why you're trying to do this.

However, I'm the type of developer who is also a copyright geek. I'm afraid that most developers have a shallow understanding of copyright and the public domain, and most of them will look at this a see the evil government trying to lock up what should be public. The result may be poor license adherence. Th

[2017-02-25 00:24] tomberek commented on #33
We have been discussing exactly this approach. Can you comment on what you think the reception would be for it? Potential pitfalls?

[2017-02-25 00:41] NoahKunin opened #34 "Why create your own solution / itemize the problem space?"
Major congrats on this! I'm quite familiar with this problem, having worked on it from many angles before finally getting a consensus solution together at other agencies I've worked at. It's hella tricky. I can cross-link later if you'd like once I dig up the previous issues. I also think most of that would fit in #14 if possible, so I'll connect into pre-existing issues where possible.

Overall t

[2017-02-25 00:57] cartazio opened #35 "seems like doing a DOD variant of bsd-2 or mit license might make it simpler"
https://opensource.org/licenses/MIT
and https://opensource.org/licenses/BSD-2-Clause being stable urls for reference

specifically: it seems that the license only really talks about the initial code release by government employees, and doesn't clearly layout what rights (and/or contractual agreements) are granted by contributions that aren't by government employees.

the current language doesn't r

[2017-02-25 01:01] fulldecent opened #36 "Disclaim merchantability and fitness for a purpose"
When you publish software and use marketing materials to describe that software you are creating a liability that others will use that software and it will not work as described. If the end user is harmed then it may create a legal liability on the publisher.

**This is something you want to avoid.**

Following are several things that a reasonable person may imply they are getting when they accept

[2017-02-25 01:07] jsha commented on #33
Speaking as a contributor to open source projects, and as a maintainer, what @eshellman describes is closer to what I would expect from a project. I think the reception would be fine, and most contributors would not consider it at all unusual.

[2017-02-25 01:08] fulldecent opened #37 "Consider using CC0 for this project"
The goal of this license as it stands is:

* Allow the US Military to publish things
* Confirm that US copyright does not apply
* Denounce any foreign copyright if it exists
* Require positive identification of new contributions

There is already an existing license that achieves this, has been thoroughly reviewed, and enjoys widespread adoption. Namely, the [CC0 license](https://creativecommons.o

[2017-02-25 02:17] shawoods commented on #33
@eshellman @jsha This is really helpful feedback! Like @tomberek said we are considering this exact approach. We would definitely be interested in hearing from others about how they would receive such an approach.

[2017-02-25 02:33] shawoods commented on #8
We believe in the value of open collaboration. Rather than concocting some scheme behind closed doors, we shared our ideas and readily sought the feedback of the open source and free software communities. This is a diverse community with differing ideas about how to best approach the complicated challenge of keeping code freely available. There have been a variety of approaches to this challenge i

[2017-02-25 06:35] Artoria2e5 commented on #37
Public Domain licenses are great, and CC0 might be the best one I know of. Still, [OSI's Review Committee's](https://opensource.org/faq#cc-zero) reason for not approving CC0 (yet) may be worth looking into and addressing:

(lloydde from Hacker News [posted such a quote there](https://news.ycombinator.com/item?id=13728332). I was just following the link.)

[2017-02-25 07:00] irl opened #39 "Debian Free Software Guidelines Thought Experiments"
IANAL.

---

Debian Free Software Guidelines
========================

- Free Redistribution
- Source Code
- Derived Works
- Integrity of The Author's Source Code
- No Discrimination Against Persons or Groups
- No Discrimination Against Fields of Endeavor
- Distribution of License
- License Must Not Be Specific to Debian
- License Must Not Contaminate Other Software

As far as I can tell, dependin

[2017-02-25 07:58] bill-studer-dhs commented on #11
This seems like a solution looking for a problem.

Who in the US Federal government besides USDS and 18F employs software engineers writing code?

Furthermore, there are dozens of projects already on GitHub, written for the DOD / IC, that are already released under various open source licenses.

[2017-02-25 07:59] xacaxulu commented on #39
+1

[2017-02-25 09:02] rthbound opened #40 "BSD or D&R License"
First, welcome to the open source community.

Now onto business. I'd like to urge the DoD team here to consider adopting a license similar to [this BSD or D&R](https://raw.githubusercontent.com/indeyets/syck/master/COPYING) license.

I'd prefer something like "GPL or D&R", but it's definitely the "or D&R" part that's most important to me.

I look forward to seeing what comes of this endeavor! 🙈 🎉

[2017-02-25 12:21] techiousnerdious commented on #40
Sorry about my ignorance on this subject but I am new to github and to coding outside of college.  Can you guys explain why their current license is not sufficient? I am excited to start contributing code, but I am unsure about all the license issues people are haveing when the project is open source anyway.  Looking to learn something new>

[2017-02-25 12:53] storrgie commented on #31
@grant51802 might want to see if there is a security classification guide for the payload of the data you're trying to use during this simulation. It's likely _not_ the best idea to throw out details of what you're working on until projects like [ARL Open Campus](https://www.arl.army.mil/opencampus/) or this repository figure out what sort of standard pathway a developer can take to bring an idea

[2017-02-25 12:58] storrgie commented on #39
It's a precarious pathway to create <license>+DoD and expect anyone to be comfortable with adoption. I keep thinking of the GPL/CDDL challenge between ZFS and the Linux Kernel, how much effort has been spent due to the selection of CDDL.

[2017-02-25 13:17] storrgie opened #41 "Please explain Plan/Intent more clearly in Readme"
In your [FAQ](https://github.com/deptofdefense/code.mil/blob/master/FAQ.md#is-dod-trying-to-do-something-funny-here) you specifically call out 'Is the DoD trying to do something funny here'. Yet, in your README you make reference to the 'end of March' twice without explaining what the plan is for the solicitation.

So despite the 'is the DoD trying to do something funny' and the immediate 'no', yo

[2017-02-25 13:22] tomberek commented on #31
@grant51802 It seems like your project would be well suited to be open source and perhaps a good use of our Defense Open Source Agreement. The program would not be classified as long as you don't publish real data or results from training events. This would allow other units to also use it and perhaps improve upon it.

Closing this issue as responded to.

[2017-02-25 13:22] #31 closed

[2017-02-25 13:29] tomberek commented on #34
It is becoming apparent that our explanation needs some work to be more clear.

1. Federal government employees do not have copyright on their work.
2. The [LICENSE-agreement.md](/LICENSE-agreement.md) is only meant to be a thin wrapper, a mechanism for us to re-use existing licenses like MIT, BSD, etc. Most people shouldn't have to even care about the LICENSE-agreement. For most practical purpose

[2017-02-25 13:35] storrgie commented on #8
Labeling the work done by an organization:

 - over several years
 - following the inlaid required pathways for discussion and change of policy
 - seeking legal council, and likely working a long game to change the status quo of what internal DoD legal council thinks about open collaboration.
 - internally publishing signed memorandums checking all the "boxes" of the necessary people so that it ha

[2017-02-25 13:53] enckse opened #42 "Refactor/cleanup repository"
I would offer a merge myself but since I don't control code.mil (though it is "representing me" as a member of the DoD community...), this repository, or the web presence you've opted to go out with:

* Please explain what each file is in the README. Initially seeing LICENSE.md and LICENSE-agreement.md is confusing. As is CONTRIBUTING.md which (from reading it) doesn't apply here (I believe). FAQ.

[2017-02-25 13:54] tomberek commented on #8
@storrgie : I'll address your final questions about other organizations, barriers, and end state.

Other organizations: While we have reached out to other organizations who have provided comments and feedback, they did not specifically endorse this effort. We did not want to assume their endorsement. Perhaps we should add a section to the README. When it comes to continued contributions, we are ac

[2017-02-25 13:56] storrgie opened #43 "Consider renaming upstream organization"
If you've secured the ability to use the name "Department of Defense" then please announce how that was secured. I would then promptly request to be a member of this organization and start my own projects as I am a member of the DoD.

Otherwise you should have the upstream organization that owns this project be named "Defense Digital Service".

[2017-02-25 13:57] enckse commented on #39
+1 and it definitely creates a problem when you start to look at <License 1> + <License 2>. I feel like the MS-PL license (regardless of how anyone feels about it) immediately sees this problem in the wild because you have to start thinking about compatible licensing before you can even do the (hopefully) cool thing you want to with the components :/

[2017-02-25 14:08] tomberek commented on #11
@bill-studer-dhs There are a surprising number of Federal employees who write code or manage projects (even if the primary contributors are contractors). Historically we have found that they face steep barriers in open sourcing. A handful have been able to use various mechanisms to do this, we want to stand on their shoulders and make it even easier. Often the barriers are when management simply s

[2017-02-25 14:08] #11 closed

[2017-02-25 14:14] storrgie commented on #8
- Please update the readme in regards to your first paragraph.
 - Please re-structure the project and place the artifacts that you are seeking assistance with in a folder as to not confuse potential contributors (I've not issued a pull request because I'm not going to do that silly sign off thing).
 - Please come out and specifically say you're intent is not to create a new license, because it app

[2017-02-25 14:16] storrgie commented on #42
Please place the artifacts that you seek contributions on in a sub-folder so as to reduce confusion about accepted contributions. See #8.

[2017-02-25 15:09] tomberek commented on #35
@cartazio : You are correct, this is mostly a mechanism for the initial release by the government, after that, the DCO and the per-project LICENSE.md governs contributions by non-government contributors.

We have an alternate (perhaps simpler) proposal which we'd love comments on (see #33,#34)

Closing as answered. Feel free to re-open to continue.

[2017-02-25 15:09] #35 closed

[2017-02-25 15:28] tomberek commented on #43
@storrgie : That is the long-term plan. At the moment we have not found the organization that is willing to manage the DoD-wide page. In our description we did add "Defense Digital Service" to make this distinction clear.

[2017-02-25 15:28] #43 closed

[2017-02-25 15:33] konklone commented on #34
@tomberek That second option eliminates the vast majority of my concerns, and the concerns I've seen expressed here. I can see the other complexities/annoyances that arise from having repositories be composed of contributions with a mix of copyright statuses. (Though that's often the case no matter what you do.) But it does get you out of the realm of novel licenses (or license-like creations), an

[2017-02-25 15:46] johnmod3 commented on #8
putting this here: There was a hack we looked at a while back that could work: if DoD designated NASA as an agent for releasing government employee created works then NASA could release it under any open source license since NASA can create copyright

[2017-02-25 15:47] johnmod3 commented on #8
And a big +1 to the DDS for running the traps on this and pushing thru. Not and easy thing

[2017-02-25 15:49] storrgie commented on #8
@johnmod3 but what is **this**? Anyone can register a GH organization.

[2017-02-25 15:50] tomberek commented on #39
@irl Excellent analysis. I like the framework and thought experiments as the way to distill the essence of the proposal. Would you mind a similar analysis of the proposal in (#33,#34). It is simpler and seems to address your concern about the "BSD+DoD"-style proliferation.

[2017-02-25 15:51] johnmod3 commented on #8
@storrgie ?

[2017-02-25 16:05] johnmod3 opened #44 "NASA hack?"
There was a hack we looked at a while back that could work: if DoD designated NASA as an agent for releasing government employee created works then NASA could release it under any open source license since NASA can create copyright

[2017-02-25 16:06] johnmod3 commented on #8
@storrgie "Anyone can register a GH organization." True, but so what?

[2017-02-25 16:26] tomberek commented on #8
This issue seems to be digressing, so I'll try to sum up:

1) We should add a section in the README about organizations we've gotten comments and feedback from.
2) Restructure this repository to make clear we are soliciting feedback on the approach.
3) Add section in README about the results of solicitation and future plans.
4) Specifically mention that the intent is to avoid creating a new licens

[2017-02-25 16:29] shawoods commented on #44
@johnmod3 What is your legal basis for saying NASA can create copyright? We talked to NASA. Check out https://invention.nasa.gov/evaluation-protection.php and the last Q&A at the bottom. Unless there is a contractor in the mix who assigns copyright, NASA employees do not have copyright in code solely written by them.

[2017-02-25 16:30] rthbound commented on #40
@techiousnerdious I'll discuss your question a little, but first want to say that this ticket is a little tongue-in-cheek in that the D&R license is a joke. Read the second part of the link in my issue for a chuckle.

Open Source licenses ranges in permissiveness.  [Here's a comparison chart](https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses#General_comparison).

I

[2017-02-25 16:35] shawoods commented on #40
@rthbound Adopt BSD how? Federal government employees don't have copyright. Are you just commenting on the pros and cons of different permissive licenses generally or do you have a comment about the mechanics of how Federal government employees can use open source licenses even without copyright?

[2017-02-25 16:40] tomberek commented on #40
@rthbound We even looked at http://www.wtfpl.net/ for a bit!

Thanks! We're looking at a revamp (#33,#34) and would appreciate your comments.

[2017-02-25 16:48] rthbound commented on #40
@shawoods, #40 is doing two things:

- celebrating the [DOD](https://github.com/deptofdefense)'s arrival to the open source community.
- proposing a novelty license in jest, for fun.

My subsequent comment is in response to @techiousnerdious, who stated unsureness:

and that he is:

[2017-02-25 16:58] rthbound commented on #40
@tomberek, #33 and #34 have you on the right track. The concerns raised in #33 are spot on, and I think #34 is describing a good way forward. The question that remains, I guess, is "what is that License XYZ"?

@konklone's comments [here](https://github.com/deptofdefense/code.mil/issues/34#issuecomment-282491289) are spot on. Don't let it get too hairy, folks lawyers won't let them use anything.

@

[2017-02-25 17:14] storrgie commented on #8
For 5 I believe you can do a branch for gh-pages, I think @enckse suggested that someplace else. You may also consider moving that redirect to a server, but I think we all know the complexity of setting up "accepted" hosts. The gh-pages gives you a place that you can "publish" the results of this repo on.

[2017-02-25 18:19] tomberek commented on #30
If that is the underlying LICENSE that a project wishes to use, it seems this agreement could be used to facilitate such a license. We explicitly do not want to preordain the license choses and are attempting to allow project managers to tailor their choice of license to the specifics of their projects.

[2017-02-25 18:43] jbjonesjr commented on #41
@storrgie for reference, I'd argue that some of your questions above may be best answered as additions to the FAQ instead of the README.

Additionally, I've found that having deadlines and targets helps to ensure that everyone involved in a community (either implicitly or explicitly) have the opportunity to participate and be heard. I appreciate the acknowledgment of a schedule.

[2017-02-25 18:45] SeanCarrick commented on #33
Most of what is being discussed is irrelevant under OpenSource licenses such as the GPL v.2.0 or greater.

The reason I say this is that the GPL only protects copyrights where copyrights exist. If no copyright exists, then the code or text is, by default, in the Public Domain. The **most** *important* aspect of OpenSource licenses, IMO, is that they protect the author from liability via the cancel

[2017-02-25 18:46] irl commented on #33
Following on from my analysis from #39 and applying to this, there are really two important things that I think need to be addressed:

- Understanding the minimum baseline for the license grant
- That the minimum baseline is at least Debian Free Software Guidelines compliant

_As a disclaimer, I am a Debian developer, but I think that the DFSG sets a good basis for what people expect from free sof

[2017-02-25 18:46] jbjonesjr commented on #34
How do these additional options work when a project is a mix of Federal Employees and non-Fed developers? I honestly have no clue, just raising the question.

[2017-02-25 18:54] irl commented on #34
@tomberek +1 for the second option

It's simple and for the most part, the fact that it's public domain initially can be entirely ignored by developers assuming a license is chosen that has pretty much the same rights granted.

[2017-02-25 18:59] tomberek commented on #6
@konklone : cloud.gov seems to work well: http://dds-codemil.app.cloud.gov and https://dds-codemil.app.cloud.gov

I've also been looking at the cloudflare, but I'm not sure what the rules are for that.

[2017-02-25 19:07] tomberek commented on #40
@rthbound Ideally, XYZ is whatever each project's manager chooses as appropriate for them. Some may choose GPL to encourage the project remaining open. Some may like MIT to encourage contribution. Some may choose a CRADA-style research license to ensure the government can use derivatives. There are so many possibilities and situations that I'd prefer not to pick, only to provide a framework where

[2017-02-25 19:13] rthbound commented on #40
@tomberek I will take that to mean the [Death and Repudiation (D&R) License](https://github.com/indeyets/syck/blob/master/COPYING#L26-L53) is on the table and available for use when appropriate. I _think_ this resolves my concerns, thank you so much.

Closing. :octocat:

[2017-02-25 19:13] #40 closed

[2017-02-25 19:31] eshellman commented on #33
@tomberek I think the reaction to the approach, positive or negative, would focus on the contributor license chosen, no different from any OS project.

On further reflection, I thought about how horrible it would look if some agency of the government tried to enforce a TOS wrapper scheme. You perhaps know about Aaron Swartz about RECAP. https://www.eff.org/deeplinks/2013/09/federal-courts-still-sc

[2017-02-25 20:39] marctjones commented on #34
TLDR;

1) I think I get what you guys are trying to do now (Sorry, I am a little slow to catch on I guess)
2) I think it is awesome that you want to prompt the use of FOSS licenses and try to make sure code remains free (as in freedom. ;) )
3) I agree with @konklone. Your second option seems more inline with what FOSS developers expect and would be pretty normal actually.
4) Having a contributor p

[2017-02-25 21:09] marctjones commented on #39
Evaluating this "agreement" against the DFSG or the FSF's four freedoms or OSI Open source definition might be premature. The first question to ask might be can or should a contract be evaluated by those standards. All of the OSI approved licenses are [licenses,](https://en.wikipedia.org/wiki/License) not [contracts.](https://en.wikipedia.org/wiki/Contract).

As I understand it, the proposal here

[2017-02-25 21:33] marctjones commented on #21
The CC0 actually addresses moral rights. So perhaps you can draw some inspiration form there. But that will always be a tricky problem since in some jurisdictions there are limitations on a creator's ability to waiver or relinquish the creator's  moral rights. In other words at some point you just have to say, "yup that person still retains their moral rights in that particular country and there i

[2017-02-26 03:39] th3j35t3r opened #47 "Room for another?"
I'd like to get involved with this initiative. Just point to where you need me.

[2017-02-26 04:39] Wiladams opened #48 "What are the legal implications and obligations of 'contract'"
Since I am new to seeing a 'contract' instead of a simply copyright license, I'm not sure of the implications of such.  What if any obligations do I incur because of this?  What liability am I exposed to.

It's a bit wordy, so I'm just not sure how it stands relative to some thing like the WTFPL.

Looking for some clarification on those unknown implications.  And looking for a simpler contract/lic

[2017-02-26 08:41] irl commented on #34
My argument against this was that this imposes restrictions on distribution which are not present under U.S. copyright law when the work was entirely the product of U.S. government employees. This is also a complex document, where the BSD/MIT licenses could almost be memorised.

[2017-02-26 08:48] irl commented on #39
@marctjones These were thought experiments, to encourage thinking.

The combination of a license+license grant is equivalent to a implicit contract in my mind. While perhaps not technically true, served a basis for the analysis.

Probably not. There will always be lawyers attempting to produce objectional things and sometimes these things will be a surprise. This is why I've pointed out that it wo

[2017-02-26 09:52] dosaygo-coder-0 commented on #21
@shawoods I checked GPL v 3 and MIT licenses and they do not mention moral rights which does not mean these licenses fail to have some bearing on moral rights as normally used.

My thinking is that because in some cases the works of code.mil do not have copyright protections therefore even tho other licenses may normally make regard to moral rights when used with works that *do* have copyright pro

[2017-02-26 10:18] dosaygo-coder-0 commented on #33
I think that even tho the approach suggested works for contributors from this point forward under an open source license but I don't know how it works to minimize fallout from any interaction between previous ( government, non-copyright protected, and so on ) contributions and code ( and their authors ) and open source contributions from this point?

My concern is there is some legal bug in not co

[2017-02-26 16:45] missyk5150 commented on #47
In my opinion until the experiment is finalized only E.G.G. HEADS THAT can answer the DOD with some advanced level of technical word usage, able to show the DOD ability to go beyond just "getting what the idea is" and more like what the idea can really become beyond  the given requirement that they are experienced or qualified,.... The government wants a person they would say is essential to helpi

[2017-02-26 16:48] missyk5150 commented on #47
#47

[2017-02-26 17:10] xizhao opened #51 "Some suggestions!"
Hi folks!  Great stuff here:

Bit of background, I run a resource called [TLDRLegal](https://tldrlegal) to help developers understand open source licenses and a company [FOSSA](http://fossa.io) to help organizations track what OSS/licenses they use and comply with obligations.

I'm very keen to see what the edge cases look like around this especially when combining licenses from third-party code a

[2017-02-26 17:49] impredicative opened #52 "Why not Public Domain?"
What is all this licensing, copyright and contractual nonsense? Isn't federal work supposed to be in the public domain? No other license need be attached or considered.

[2017-02-26 17:55] missyk5150 opened #53 "One of the Federal issues I found in the open source world that may give more reason to the experiment."
I did not create this i just copied and pasted it from the site here at : whitehouse.gov http://www.whitehouse.gov/copyright

Case Studies/Whitehouse.gov

http://wiki.creativecommons.org/images/1/1f/Us-whitehouse-logo.jpg
whitehouse.gov http://www.whitehouse.gov/copyright
.

Evaluation Information.pngReview
Page Importance:
Page Quality:
Discuss this evaluation
www.whitehouse.gov is the official w

[2017-02-26 18:02] missyk5150 commented on #47
I should have opened my own issue before I commented here if I offended you I apologise... I am learning and details like signing off  were not known to be until just now...

Signed-off-by: Missy Krisik <missyk5150@gmail.com>

[2017-02-26 18:49] oddnoc commented on #52
This was my immediate reaction as well. Most government intellectual property is automatically in the public domain. By definition, if there is no copyright, there can be no license; to put it another way, DoD has no power to license the code, as it is *already* in the public domain.

Not even [CC0](https://creativecommons.org/share-your-work/public-domain/) is appropriate, as that is a waiver of

[2017-02-26 18:49] markgalassi opened #54 "consider using Mercurial as well as git"
Please make sure that people can create Mercurial repositories as well as Git ones.  I can elaborate on the reasons for it if you want.

[2017-02-26 18:51] markgalassi opened #55 "please try to adhere to the GNU ethical repository criteria"
I would be great if your web site could be used with 100% free software.  This means, for example, not mandating the use of proprietary javascript to create one's account.

The full GNU guidelines are here:

[https://www.gnu.org/software/repo-criteria.en.html](https://www.gnu.org/software/repo-criteria.en.html)

[2017-02-26 18:53] impredicative commented on #54
Please do elaborate why because people including myself are sorely lacking education on the reasons why Mercurial matters.

[2017-02-26 19:20] missyk5150 commented on #53
I am putting the effort to show a cc licence on the material i am submitting here because I myself took my time to create this comment. "This comment"
Signed-off-by:<Missy Krisik><a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/us/88x31.png" /></a><br />This work is licensed

[2017-02-26 19:22] MorrisR2 opened #56 "WTFpl would work well."
A license similar to the WTFpl would satisfy the expectations that all code should have a license, while not putting any restrictions on the use of the code.  It's essentially a disclaimer of copy rights, written in the form of a one-sentence license.

[2017-02-26 19:22] missyk5150 commented on #53
Signed-off-by: missy krisik <missyk5150@gmail.com>

[2017-02-26 19:24] MorrisR2 commented on #52
Many countries, and international treaties, have no concept of "public domain".   Therefore public domain won't work if any users are outside the US.

On the other hand, a license similar to the WTFpl would solve the need for a license, without putting any restrictions on the code.

[2017-02-26 19:25] markgalassi commented on #54
Ouroboros> Please do elaborate why because people including
    myself
    Ouroboros> are sorely lacking education on the reasons why
    Mercurial
    Ouroboros> matters.

Mercurial and git are isomorphic in almost all important aspects
of
distributed version control.

Apart from the technical differenes, which are discussed in many
articles but which are ultimately small differences, the main
is

[2017-02-26 19:32] LawyerMe opened #57 "Minimally Adapt an Existing License"
May I suggest you use an existing license with the minimal necessary modifications rather than re-inventing the wheel?

Depending on what other stakeholders and adopters you are trying to get on-board you may choose one of several existing licenses. Then make changes that are as compact as possible and offset them from the rest of the license to the extent possible. While I am not suggesting it is

[2017-02-26 19:33] MorrisR2 commented on #56
Due to issues with the precise wording of the WTFpl, I hereby propose the Morris Public License:

Morris Public License Version 1.0

1) Authorization to copy, modify, and distribute

Any person, may copy, modify, distribute, or otherwise use the work in any form, without copyright restriction of any kind. All copy rights are hereby disclaimed.

2) Disclamer of warranties
THERE IS NO WARRANTY FOR T

[2017-02-26 19:39] FOSS-the-world commented on #52
@MorrisR2 Oh really! I wonder if mine has!

[2017-02-26 19:44] impredicative commented on #52
@MorrisR2 , I acknowledge, but to the best of my knowledge, the US federal government cannot legally assign a license or copyright. With regard to those other countries, I suggest petitioning those countries to embrace PD, or have someone in the US clone the relevant repos and simply add a suitable OSS license. Disclaimer: I am not a lawyer.

[2017-02-26 19:55] SamuelSchlesinger commented on #57
Having the legal precedent there with the license is really comforting, particularly when using something of the US governments, no? I'd advocate for using an existing license exactly as is, as do most entities that publish their code open source.

[2017-02-26 19:59] SamuelSchlesinger commented on #57
Wait no I think I at least misunderstood, the LICENSE-agreement is not the same as LICENSE, and the LICENSE will be changed to suit the individual project.

[2017-02-26 20:16] missyk5150 commented on #14
If we were in the casino on the computers ran by 0ld(amd) now (intel) the surveillance software they are not allowed to do visual and audio unless an officer of the non-federal but the state is present. Any one who understands more than me about the way to write and do these codes can help the idea here. From what I noticed it's as if the Federal licence makes it so the gov here can not outright a

[2017-02-26 20:26] missyk5150 commented on #53
I feel the new president is who needs to be considered the one we need to protect here.. so if the obama admin made the whitehouse.gov site so admired. But the liberal hacks wanting tax forms and other personal sensitive documents about the current presidential family were not a real concerning threat at that time....who knows what the dod wants i am done wracking my mind over and over it.
Signed-

[2017-02-26 20:39] tomberek commented on #55
For now we are using GitHub. What alternative would you recommend which is GNU-friendly?

[2017-02-26 20:40] MorrisR2 commented on #52
@impredicative Under section 105, the section you have in mind, the government indeed may not *assert* copyright rights (to certain things).  They may certainly *disclaim* such rights; they may point out that there are no restrictions.  For that purpose, the purpose of explicity *not* asserting rights, we can use the Morris Public License:

Morris Public License Version 1.0

1) Authorization to co

[2017-02-26 20:50] tomberek commented on #54
@markgalassi Until we have a more robust/proper/official path forward, you may use:
https://bitbucket.org/tomberek/code.mil-hg

[2017-02-26 20:59] tomberek commented on #53
Thanks for the comment. Please see [the FAQ](/FAQ.md) for the response for CC and what this project's intentions are.

[2017-02-26 20:59] #53 closed

[2017-02-26 21:00] tomberek commented on #54
Closing as resolved. Marking with backlog to pursue a more long-term solution in the future.

[2017-02-26 21:00] #54 closed

[2017-02-26 21:02] missyk5150 commented on #53
TYSVM.  :-)

[2017-02-26 21:23] tomberek commented on #52
Please see the FAQ for the response for why this project exists. Changing the global copyright regime, while interesting and ambitious, is out of scope for this project at the moment. We are considering a non-contractual approach (see #33,#34) for which we would appreciate comment.

Closing as answered. Feel free to reopen to continue discussion.

[2017-02-26 21:23] #52 closed

[2017-02-26 21:24] tomberek commented on #56
Closing as duplicate to #52. Assiging @shawoods to take a look at the language.

[2017-02-26 21:24] #56 closed

[2017-02-26 21:43] tomberek commented on #51
In order response:
1. DDS has sought OSI comment and are trying to find a way to avoid proliferations.
2. We've been in touch with several and would be happy to reach out to more for their comments and advice.
3. Any help in creating a plain English summary would be amazing. Feel free to submit. (also, please consider the approach outlined in #33, #34)

[2017-02-26 22:27] notklaatu commented on #34
Agreed. GPL is a license that guarantees that the code will remain accessible to them no matter who or what uses it (unlike a license like MIT or BSD, whereby the code could be forked, used, and then made inaccessible). Since this code is being paid for by US tax payers, it seems only fitting that they get a guarantee of persistently free code.

(Although, admittedly, either option is certainly a

[2017-02-26 23:12] storrgie commented on #14
I for one think your contributions are really moving us forward @missyk5150

[2017-02-26 23:18] enckse commented on #14
I think we can all agree "IT IS GOOD TO BE HERE IN THE USA" is both true and only properly expressed in all caps, any lower case letters would not properly express the proper amount of patriotism.

Seriously, though, someone should probably reign this @missyk5150 thing in here

[2017-02-26 23:29] storrgie commented on #43
Now you've fractured this repository into another location just because someone suggested that mercurial might be interesting to use as well? (#54).

Do you guys have a plan for the overall "branding" of using the DoD name, or is this a "yolo" type thing where you hope someone will swoop in and tell you how to manage one of the largest organizations in the world online identities.

[2017-02-26 23:32] dylmye opened #58 "Contract locks out under-18 contributors?"
Hi, sorry if I'm mistaken but in most countries one needs to be over the age of majority to complete a contract?

From [USLegal](https://contracts.uslegal.com/contract-by-a-minor/):

From [Net Lawman UK](http://www.netlawman.co.uk/ia/entering-contract-minor):

Would this mean that those not in the age of majority in their country, or those unable to sign a contract in their country or the United S

[2017-02-27 00:28] tomberek commented on #57
@SamuelSchlesinger That is correct. This proposal tries to serve as a way to get to a standard well known license in spite of the lack of copyright for federal employee work products, while still allowing project managers to choose what is most appropriate for them.

Our goal is to not introduce yet another license into the ecosystem (proliferation). Creating a new license is a valid endeavor, but

[2017-02-27 00:28] #57 closed

[2017-02-27 00:36] tomberek commented on #37
We have looked at and considered CC0. See [FAQ](https://github.com/deptofdefense/code.mil/blob/master/FAQ.md#since-software-created-by-us-federal-government-employees-does-not-have-copyright-protections-in-the-us-why-not-just-put-it-in-the-public-domain-and-use-cc0-10-for-international-jurisdictions-where-you-have-copyright).

We are not proposing that CC0 is incorrect or trying to set a policy. W

[2017-02-27 00:36] #37 closed

[2017-02-27 00:39] rthbound opened #60 "Crufty old merged branches"
https://github.com/deptofdefense/code.mil/tree/faq-who
https://github.com/deptofdefense/code.mil/tree/reinastaley-patch-1

Still using these?

[2017-02-27 00:41] johnmod3 opened #61 "References"
just a place to dump maybe helpful ref's:
https://www.cendi.gov/
https://www.dwheeler.com/

[2017-02-27 00:44] enckse commented on #43
another thing about "branding" and "plan" - if this is backlog doesn't seem like it should be closed especially since it would be a part of the "long-term" plan to clarify intent entirely.

[2017-02-27 00:48] tomberek commented on #61
It looks like there is some alignment between CENDI's vision/mission and ours. Thanks.

[2017-02-27 00:48] #61 closed

[2017-02-27 00:51] tomberek commented on #60
Deleting. thanks!

[2017-02-27 00:51] #60 closed

[2017-02-27 01:55] irl commented on #34
@notklaatu You're missing the point entirely. The original project as produced with taxpayer money is never going to inaccessible. Beyond that point, what private people/companies do with the code is unrestricted as there can be no copyright asserted on it.

Yes, but it restricts the freedoms associated with the software against the spirit of the public domain nature of the original work. Those wh

[2017-02-27 02:47] nschonni commented on #42
Proposed partial cleanup with #63. Creating a "gh-pages" branch and moving the index.html and CNAME would have to be done by a project maintainer

[2017-02-27 03:16] tomberek commented on #43
This repo is specifically for discussion and development of a framework/license/agreement to encourage open source in DoD. While perhaps convenient, this repo is not the proper place for the branding question and plan for the organization identity. Please reach out to us to discuss those topics separately because there is definitely a need for it.

[2017-02-27 03:45] tomberek commented on #42
@nschonni @storrgie Accepted #63 and created gh-pages. Closing as complete.

[2017-02-27 03:45] #42 closed

[2017-02-27 06:04] missyk5150 commented on #14
Hey don't pick on me if you are I am sad. If you are not than i
misunderstood.  I am not here for ridicule I just don't know how to express
myself in a verbal manner as high level as you can. If your just going to
pick on people you will never get this project anywhere. It's about working
together. Sorry if you can't accept my CAPS ON.
On Feb 26, 2017 3:18 PM, "Sean Enck" <notifications@github.com

[2017-02-27 13:32] BrandonBouier commented on #14
Everyone, let's keep this conversation on topic.

[2017-02-27 13:47] enckse commented on #43
I will let this one go but I need to add some final notes first.

I disagree. This repo is already applying a branding to all of what is being done and broadly covering the DoD community by naming alone (regardless of intent). Perhaps you only wanted non-DoD community input (which is dismissive of some of your users, people like me). Let's be honest, once you step out into "deptofdefense" on githu

[2017-02-27 14:28] BrandonBouier opened #64 "DoD & gov workers - let's discuss at 3pm ET today"
There has been a good discussion about our code.mil experiment. For those of you who are government and/or DoD employees, we'd like to host a Google Hangout call today at 3pm ET. Please send your government email to code@dds.mil mentioning your GitHub username & we'll send an invite to that address. We also plan to have a discussion open to the public in the future. I'll post details in a future p

[2017-02-27 14:38] flemingtech commented on #55
Markgalassi,

If your web browser and JavaScript clone doesn't work with open and standardized ES5 code, how is that anyone's problem but yours?

[2017-02-27 15:12] marctjones commented on #34
@irl There is no requirement under the GPL to distribute merely by using the GPL licensed software. The GPL requirements kick in when you distribute code (in source or binary form). I think most attorneys experienced in the space would agree that the government is generally free to use GPL code (including modifying it) without any requirement to share it.

[2017-02-27 15:17] marctjones commented on #34
@irl I agree with your point about public policy issues are a important consideration. The [house report](https://www.law.cornell.edu/uscode/text/17/105?qt-us_code_temp_noupdates=1#qt-us_code_temp_noupdates) discussing section 105 of the Copyright Act does address this situation. It seems like the government (i.e. congress) thought through this issue and said "depends."

[2017-02-27 15:23] ckaran commented on #9
@tomberek Does anyone from code.mil attend the meetings in DC?  I'd like to meet you guys in person at the next meeting if possible.

[2017-02-27 15:24] tomberek opened #67 "FOIA, History, and Rewrites"
Continue from #62.

[2017-02-27 15:34] storrgie commented on #64
Give a 72 hour warning, not 6. Push to Wednesday or Thursday so people can actually notice this.

[2017-02-27 15:36] bluefoxicy opened #68 "License DOD Code as CC0"
For published DOD code by Federal employees and commissioned by the DOD with copyrights included (i.e. the code is owned by the DOD and thus is under the same non-copyright restrictions as Federal-employee-produced code), use the CC0 license at the below:

https://creativecommons.org/share-your-work/public-domain/cc0/

The CC0 is a legal copyright license including the following clause:

Essential

[2017-02-27 15:38] marctjones opened #69 "FAQ gives misimpression that the public policy of Section 105 was written before the invention of software"
The FAQ says: "The legal framework that makes works created by U.S. Federal government employees ineligible for copyright protections (17 U.S.C. 105) was written long before the invention of software.". That isn't true. Section 105 was written and more importantly adopted into law several decades after the invention of software.

Section 105 was first adopted in 1976 along with the rest of the 197

[2017-02-27 15:42] BrandonBouier commented on #8
Hi everyone, we're going to be updating the FAQ based on some of the issues raised in this thread.

[2017-02-27 15:42] #8 closed

[2017-02-27 15:48] BrandonBouier commented on #10
@ckaran we've been in conversations with the OSI, so they're aware of what we're doing.

[2017-02-27 15:48] #10 closed

[2017-02-27 15:59] shawoods commented on #12
This has come up a few times, but the idea that U.S. law requires Federal government employees to put creative works in the public domain is a bit of an overstatement. The U.S. Copyright Act does not explicitly define public domain. What the Act actually does is make works created by U.S. Federal government employees ineligible for copyright protections (17 U.S.C. 105). It’s an important distincti

[2017-02-27 15:59] BrandonBouier commented on #64
@storrgie our availability is best for this afternoon. We will look at doing another one next week.

[2017-02-27 16:00] shawoods commented on #44
Closing for now unless we get new information.

[2017-02-27 16:00] #44 closed

[2017-02-27 16:01] storrgie commented on #64
See my above edit and particularly understand my point about how other organizations are chartered to do _real research_, not just run projects about _openness_. If this is your primary objective, then _make time_.

[2017-02-27 16:04] BrandonBouier commented on #13
Our hope is that the agreement will serve as a single place for the licensing & contributing "mechanics" - especially since a lot of people in the government are relatively new to the open source community.

That said, we're working on an update to the agreement that will hopefully clarify a few things.

[2017-02-27 16:04] #13 closed

[2017-02-27 16:06] iadgovuser1 commented on #68
Our IP lawyers have already said CC0 (or any license) that says you are a copyright holder and then relinquishing or reassigning said copyright is automatically a no go. U.S. fed civilian code does not have a copyright holder (in most cases). You can still use CC0 to waive copyright outside the U.S. (where public domain is recognized).

See #52, #37, #24.

https://github.com/deptofdefense/code.mil

[2017-02-27 16:08] BrandonBouier commented on #68
@iadgovuser1 well said

[2017-02-27 16:09] tomberek commented on #68
Duplicate with #24,#37,#38,#52, and the [FAQ](https://github.com/deptofdefense/code.mil/blob/master/FAQ.md#since-software-created-by-us-federal-government-employees-does-not-have-copyright-protections-in-the-us-why-not-just-put-it-in-the-public-domain-and-use-cc0-10-for-international-jurisdictions-where-you-have-copyright).

To clarify, this effort is an attempt to find an alternate option or path

[2017-02-27 16:09] #68 closed

[2017-02-27 16:14] storrgie commented on #43
I'd motion this should not be considered closed or resolved. Please re-open or migrated the repository to a DDS organization rather than a DoD one.

[2017-02-27 16:14] tomberek commented on #22
Closed as addressed by PRs. Thanks for the suggestion.

[2017-02-27 16:14] #22 closed

[2017-02-27 16:27] shawoods commented on #14
There are multiple organizations within the U.S. Federal government that provide guidance about open source and procured source code. Within that guidance and the law, however, there are many possible avenues to pursue. Intelligent minds will differ on the "best" avenue and every organization (for example, a research lab versus a program office) has unique circumstances that affect which option mi

[2017-02-27 16:31] BrandonBouier commented on #21
@dosaygo-coder-0 I'm curious: would the DCO attribution to your contribution be sufficient to stand as a moral rights attribution?

[2017-02-27 16:36] marctjones commented on #12
@shawoods Ahh I see;  you are intending to rely on a shrink-wrap agreement. Personally I think that case was wrongly decided, but then I am not a  circuit judge. But it is still good law.

But I do not think a shrink-wrap case is not the best case to cite in this situation. Since the situation is more akin to a browser wrap agreement. Browser wrap agreements seem to receive less favorable treatmen

[2017-02-27 16:38] tomberek commented on #47
Closing as off-topic.

[2017-02-27 16:38] #47 closed

[2017-02-27 16:39] marctjones opened #70 "Is a shrinkwrap contract an additional term prohibited by the GPL"
Since your concept is to require anyone "using" the source code to agree to the contract (and submit to jurisdiction/venue of the United States, have you considered if this is an additional restriction prohibited under the terms of the GPL.

If it is, then you will not be able to use the GPL for any of the projects adopting this approach.

[2017-02-27 16:48] marctjones commented on #12
Or do I misunderstand. And your point is only that you can offer public domain works as consideration for a contract and you did not mean to rely on the concept of a shrink-wrap agreement.

If that is the case then I would agree. Nothing wrong with "charging a price" for providing someone with a copy of public domain material. But if you can bind anyone to a contract merely because you provide acc

[2017-02-27 17:01] shawoods commented on #12
@marctjones We are definitely not intending to charge a price or have hidden terms. Our hypothesis was that with some creativity we might be able to leverage contract law as a bridge to using existing open source license. Maybe it's not possible. Will reopen -- not intending to imply this is resolved. We are actively working a revision to the agreement based on all of this feedback, including your

[2017-02-27 17:02] storrgie commented on #8
Until you have a commit, leave this open for visibility.

[2017-02-27 17:04] BrandonBouier commented on #70
@marctjones we have considered this, & have reached out to FSF regarding the possibility of applying GPL licenses to government works.

[2017-02-27 17:14] shawoods commented on #69
@marctjones Maybe I was being too brief with words when writing "legal framework...was written long before..." but the legal framework does predate software. The original concept of Federal government employees not having copyright for certain materials (not all) was first codified with the Printing Law of 1895. Section 105 (first passed in 1976) is based on section 108 from the U.S. Copyright Act

[2017-02-27 17:26] marctjones commented on #12
Sorry, I was not clear; By price I only mean that you are requiring an agreement to the contract as a price of using or copying or contributing. And by hidden terms I only reference another comment where one of your coworkers suggest that there is no reason for developers to even be aware of the agreement. In addition that that is how browser wrap agreements are often, and I think fairly, characte

[2017-02-27 17:29] rthbound commented on #67
Background for #67 (this issue) starts here: https://github.com/deptofdefense/code.mil/pull/62#issuecomment-282606545

[2017-02-27 17:37] matthewpersico opened #71 "CONTRIBUTING link does not work"
https://github.com/deptofdefense/code.mil/blob/master/CONTRIBUTING.md inside https://github.com/deptofdefense/code.mil/blob/master/Proposal/LICENSE-agreement.md incorrect. Suggest change to https://github.com/deptofdefense/code.mil/blob/master/Proposal/CONTRIBUTING.md or, perhaps, a relative link?

[2017-02-27 18:27] storrgie commented on #8
Also, as @shawoods points out, this is supposed to be **different** by being _open_. Which branch is the update to the FAQ being worked in? Closing this ticket and alluding to work your doing **not in the open** seems disingenuous.

[2017-02-27 18:30] storrgie commented on #13
as per my comment in #8, where is the branch for this work. You close this issue but your _"work"_ is not _out in the open_.

[2017-02-27 18:33] enckse commented on #64
This is way too short of notice to properly schedule any meeting (having some work to be done and other requirements I'm supposed to be fulfilling) and, again to being open, this is now an internal "closed doors" meeting...

[2017-02-27 18:35] enckse commented on #54
I don't believe that starting a project on bitbucket was the correct solution...if I go and open an issue there what's going to happen? It's going to fragment discussion (brb)

[2017-02-27 19:09] kfogel commented on #13
Hi, @BrandonBouier .  FWIW, even though many people in government are new to this, I would still recommend *not* mixing contribution agreement with outbound license.  They're really separate things: they enable different sets of people, and for different purposes.  An easy solution is just to not present visitors with a contribution agreement at all at first -- in other words, just removing the la

[2017-02-27 19:26] BrandonBouier commented on #13
@kfogel thanks for this comment! You raise some good points.

[2017-02-27 19:28] enckse commented on #6
the cloudflare that just had a huge leak that is a big deal unless you believe the company that just massively screwed up that everything is rainbows and happiness? I mean, I would hope that wouldn't be in the running here.

[2017-02-27 19:30] konklone commented on #6
I would still happily recommend CloudFlare to federal agencies. Their response was solid and they have a great track record of security.

However, proxying from CloudFlare to the origin in cleartext is un-ideal, so direct hosting would be better.

[2017-02-27 19:42] #71 closed

[2017-02-27 19:46] marctjones commented on #69
I was under the impression you were referring to the drafting of Section 105 in the 1976 Act, not merely the historical origins of copyright. But it also seems pretty clear to me that the 1976 clearly was a massive overhaul of copyright and included a consideration of software. It seems misleading to suggest that Section 105 policy does not include a consideration of software. At the time there wa

[2017-02-27 20:03] storrgie commented on #6
might not want to forcibly design in a MITM, even if it solves and immediate problem it can lead to [issues down the road](https://en.wikipedia.org/wiki/Cloudbleed).

[2017-02-27 20:05] johnmod3 commented on #48
1. Maybe instead of trying to enforce copyright law via contract law, focus on a statement of government intent or desire for projects to evolve into fully realized and managed open source software projects.
Something like: release as public domain with a statement that the government will only accept code submissions back under an OSS copyright. That way over time the codebase slowly gets a copyr

[2017-02-27 20:15] marctjones commented on #39
@irl to your point; your experiment did get me thinking. I went and reread the DFSG and noticed guideline 7.

The proposal is an attempt to subject the software to the terms of an existing FOSS license. But this proposed agreement intends to operate in a way that requires you to execute the contract the first time you copy or use the software.

I would note that you don't actually need a copyright

[2017-02-27 20:24] marctjones commented on #13
You also could do a lot worse than taking advice from @kfogel, who probably does not recall that I once had the pleasure of meeting briefly.

[2017-02-27 20:57] shawoods commented on #48
@johnmod3 Using contract law really was an experiment to see how it might be received in the community. The priority is achieving fully realized open source projects. We are pivoting toward something like what you suggest in #1.  We have also discussed #3, but that's definitely a long game play.

[2017-02-27 21:05] gbinal commented on #8
Just a quick word - thank you all for the work you're doing in trying to do more open source work in government.  Starting up FCC's and GSA's efforts weren't a walk in the park and there's always a ton that goes into it.

I hope that all of us can recurringly dig deeper and try to begin with assumptions in each others best intentions.  The good news is that this, being an open source project, can

[2017-02-27 21:19] ckaran commented on #10
I apologize about getting on here late; I have been answering email traffic since I got in the office this morning regarding this issue, as well as others that have popped up due to the launch of [code.mil](http://code.mil).

@marctjones Yes, we put the license on the `license-discuss` mailing list at https://opensource.org/lists some time ago.  If you are on that list, you should see my updated m

[2017-02-27 21:39] BrandonBouier commented on #70
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:39] tomberek commented on #39
There's been an update based on some feedback to an alternate approach. Please see [CONTRIBUTING.md](../blob/master/Proposal/CONTRIBUTING.md)

[2017-02-27 21:39] BrandonBouier commented on #69
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:40] BrandonBouier commented on #58
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:40] BrandonBouier commented on #55
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:41] BrandonBouier commented on #51
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:41] BrandonBouier commented on #48
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:45] shawoods commented on #58
@dylmye Even though we've updated the strategy to drop the use of contract law, I did want to say that your comment was super on point.

[2017-02-27 21:57] BrandonBouier commented on #41
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 21:57] BrandonBouier commented on #36
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 22:00] BrandonBouier commented on #34
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 22:00] BrandonBouier commented on #33
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 22:02] BrandonBouier commented on #30
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 22:03] BrandonBouier commented on #14
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 22:04] BrandonBouier commented on #12
We've pivoted based on user feedback. Take a look at the current CONTRIBUTING.md

[2017-02-27 22:06] fulldecent commented on #12
The updated CONTRIBUTING states that a license is to be chose by specific agencies. In this light, this instant issue is now out of scope for this project. I recommend to close this issue.

[2017-02-27 22:07] fulldecent commented on #14
The updated CONTRIBUTING states that a license is to be chose by specific agencies. In this light, this instant issue is now out of scope for this project. I recommend to close this issue.

Regarding whether public domain projects are allowed to restrict incoming contributions based on a CONTRIBUTING file, then yes they can.

[2017-02-27 22:08] fulldecent commented on #30
This issue IS still relevant based on the new CONTRIBUTING file.

[2017-02-27 22:12] fulldecent commented on #34
Since license is now outside the scope of this project, this issue appears to be out of scope. I recommend to close this issue.

[2017-02-27 22:12] fulldecent commented on #36
This may still be relevant after the pivot.

[2017-02-27 22:14] fulldecent commented on #41
These comments are meta- in terms of this project and its purpose. Therefore it is not affected by the pivot in CONTRIBUTING.

[2017-02-27 22:15] fulldecent commented on #48
The copyright aspect of this project has been removed from the scope of this project based on the updated CONTRIBUTING file. Therefore I believe this issue is now out of scope and should be closed.

[2017-02-27 22:18] fulldecent commented on #55
This issue is not relevant for the new project as based in the new CONTRIBUTING guidelines. I recommend to close this issue.

[2017-02-27 22:22] fulldecent commented on #64
Time has passed. Recommending to close this issue.

[2017-02-27 22:25] fulldecent commented on #67
This issue seeks to discuss whether the US Department of Defense should interpret legal policy as allowing or not allowing using of git commands which cause a loss of historical record on the main repository.

This discussion appears to be off topic of this project's goals and I believe it is out of scope for this project to consider legal interpretations of `git` commands.

As such I recommend cl

[2017-02-27 22:26] BrandonBouier commented on #48
Got it. Thanks @fulldecent!

[2017-02-27 22:26] #48 closed

[2017-02-27 22:26] BrandonBouier commented on #55
I agree.

[2017-02-27 22:26] #55 closed

[2017-02-27 22:27] BrandonBouier commented on #30
@fulldecent I believe you're right, that's why I haven't closed this issue.

[2017-02-27 22:28] blakelapierre commented on #14
The issue opener was quite explicit about what they were told:

Maybe they should get together and give us a real answer?

[2017-02-27 22:28] fulldecent commented on #70
This updated project includes only the CONTRIBUTING file and allows individual agencies to choose their own license. As such, any consideration of compatibility of those licenses with GPL is now out of scope for this project. Therefore I recommend to close this issue.

[2017-02-27 22:31] #64 closed

[2017-02-27 22:32] storrgie commented on #13
@kfogel agree completely with the side note, and that is what had to be done before [this](https://github.com/USArmyResearchLab/ARL-Open-Source-Guidance-and-Instructions) was created for open feedback. I'm being particularly nit picky because @BrandonBouier is closing tickets and waiving hands at a potential future resolution, which I don't think is in the spirit of being open.

From what I gather

[2017-02-27 22:37] ckaran commented on #8
My apologies about not responding to everyone earlier; I've been dealing with email telephone calls directed at me caused by the code.mil launch.

@aggieben @shawoods Part of the reason I want to discuss some of this offline in a Government only location rather than on GitHub, is that these discussions may be construed as a [Federal Record](https://www.archives.gov/about/laws/disposal-of-records.h

[2017-02-27 22:46] ckaran commented on #67
With all respect to @fulldecent, git history may be a record as defined [here](https://www.archives.gov/records-mgmt/faqs/federal.html#record).   That means those records may need to be kept, and before a rewrite to history is done, the appropriate legal counsel may need to be consulted.

[2017-02-27 22:46] rthbound commented on #67
It has less to do with `git`, more to do with destruction of records -- who contributed to which projects, when... things like that I'd think would be subject to FOIA requests.

[2017-02-27 22:50] ckaran commented on #67
@rthbound I agree, but that is the point; the `git` repository **is** the record in this case.  Destroying that record can lead to serious legal issues.  Rewriting history should not be done lightly, and should be done with legal counsel's advice.  Ideally, we'd be able to say why the contents were scrubbed, but that introduces its own headache since history will have been changed at that point...

[2017-02-27 22:56] ckaran commented on #41
@jbjonesjr If you start putting deadlines on public comments, you may be wandering into areas governed by the [APA](https://www.archives.gov/federal-register/laws/administrative-procedure) and other laws.  I'm not a lawyer, so I can't make a definite comment; please consult your legal counsel about this.

[2017-02-27 22:57] BrandonBouier commented on #13
@kfogel I'd be curious to know your thoughts on the changes we've made

[2017-02-27 22:57] fulldecent commented on #67
Technical perspective:

git history is not destroyed when it is rewritten. There are server backups on the git server also there are client backup on the committer which are usually only removed if you clean the git repo. Lastly, it may be preserver by any client that has synced the repository.

Practical perspective:

If this project believes that git policy is in scope, then should we also be co

[2017-02-27 23:04] rthbound commented on #67
@fulldecent from #62

Again, I'm just an enthusiastic open source contributor, but it sounds like y'all(?) have put too little thought into this.

[2017-02-27 23:10] ckaran commented on #67
@fulldecent I see your points, and I'm glad you see mine.  I agree that there are going to be cases where we need to rewrite history, however, those cases will need to be done with the advice of legal counsel.  In addition, as you've pointed out it is going to be very difficult to destroy all history in some cases.  For credentials and passwords, they'll also have to be changed.  However, removing

[2017-02-27 23:17] fulldecent commented on #67
Yes, of course you should change any compromised credentials.

Git has features to change history and they were not put there by accident. People do not need lawyer permissible to use other git features so they should not need lawyer permission to use git history rewriting features. Likewise government employees do not need permission to delete files on their computer. The same backup mechanisms t

[2017-02-27 23:20] rthbound commented on #67
This would address my concerns.

That's my point. If this occurs, change credentials immediately. Don't waste time amending commit history before doing so. In fact, don't amend it afterward either. I want my FOIA request to show mistakes made by my government.

[2017-02-27 23:20] fulldecent commented on #67
And of course pull requests with squash will also "destroy" records. Again we should not mandate against pull requests because that is rediculous. If somebody wants to FOIA against the lost pull request commits then they can do that and they will get back the git objects from the tape backups of the computers.

[2017-02-27 23:25] fulldecent commented on #67
The goal of this project is to allow government employees to happily and fearlessly use git/github just like the billions of other people that use it. When we start telling people you need lawyer permission to use the squash and merge feature for a PR then we are being counterproductive and it becomes another reason government employees will stick with what is safe rather than contributing to thei

[2017-02-27 23:30] EricRohlfs commented on #33
Responding to the comment above about on or off the clock work.

It may not be necessary to have developers tag commits to determine if they are on or off the clock.  Government employees and contractors keep detailed timesheets as per federal law.  If it ever came down to a copyright claim, comparing timesheets to timestamps would be a form of evidence.
In addition, I think self reporting or tagg

[2017-02-27 23:30] rthbound commented on #67
If you don't create some record of your having amended the history, how will anyone know they need to go to the tapes?

[2017-02-27 23:33] kfogel commented on #13
Hi, @storrgie .  I haven't been following the other tickets too closely, just this one, so you may be working with more information than I am.  But I doubt, as a general matter, that _any_ government agency can ever use a process as open as the one you're hoping for :-).  The owner(s) of a repository can decide what the ticket-closing criteria are for that repository.  I don't see any censorship g

[2017-02-27 23:34] fulldecent commented on #67
Someone is free to constantly pull the repository if they want. And someone could pull all the repositories all the time to check for history changes if that's what they want to do.

There is no legal requirement that government needs to make it easy for people that want to file FOIA.

[2017-02-27 23:35] rthbound commented on #67
But there is a legal requirement that you not destroy records.

[2017-02-27 23:35] ckaran commented on #14
@tinjaw Take a look at what ARL has [done](https://github.com/USArmyResearchLab/ARL-Open-Source-Guidance-and-Instructions).  There may be some help for you in there.  For what it's worth, I cowrote that policy and may be able to help you out.

@blakelapierre It is difficult to get a complete answer in all cases.  There are different laws governing different agencies, and then different regulations

[2017-02-27 23:36] fulldecent commented on #67
Yes. This record keeping compliance is met by tape backups. This is why government computers do not have the Recycle Bin disabled.

[2017-02-27 23:55] ckaran commented on #67
@fulldecent Do you work for the Federal Government?  If so, where?  Not all computers are backed up, and even those that are backed up may only be backed up on a nightly basis.  I average 10 commits/day on my projects.  I could easily create & squash a commit before any backups occurred.  @rthbound is correct; there is a legal requirement for not destroying records, and rewriting history is going

[2017-02-27 23:57] rthbound commented on #67
@ckaran I thought that smelled fishy. Thank you for addressing my concerns.

[2017-02-28 00:19] eshellman commented on #33
Great! closing the issue to avoid confusion on continuing issues, such as the suggestion by @EricRohlfs that deserves its own issue

[2017-02-28 00:19] #33 closed

[2017-02-28 01:01] fulldecent commented on #67
In the situation you are describing (nightly backups, 10 commits/day) then yes, you will very likely not lose any information and be in full technical compliance of records keeping requirements (if they actually do apply).

Documentation at https://git-scm.com/docs/git-gc

[2017-02-28 01:14] tomberek commented on #67
I am hesitant to try to set an iron-clad policy. This can can unintended consequences and a chilling effect, where the very thing we'd like to encourage is participation. I like the thought behind

Should the `CONTRIBUTORS.md` discuss this policy? Should this be a recommendation to project managers? It doesn't seem far from standard OSS practices, so it may be best to just refer to established pra

[2017-02-28 01:18] tomberek commented on #70
I would like to encourage a discussion about GPL for government works. The full consequence of a project adopting a GPL license for contributions still needs some thought and exploration.

[2017-02-28 01:20] tomberek commented on #58
The new DCO-based approach seems to sidestep this issue. @dylmye At the very least, the new approach is no worse than existing licenses/practices.

[2017-02-28 01:31] tomberek commented on #36
@fulldecent
1. Rather than re-invent the wheel, would the re-use of mainstream licenses address this concern?

2. Would we need need an additional disclaimer to cover the "public domain" contributions/portions of the repo?

[2017-02-28 01:41] tomberek commented on #34
@marctjones Thanks for the analysis. I am especially interested in:

What are the sorts of projects where GPL is better from a pragmatic standpoint? Are there projects that are particularly ill-suited for GPL/AGPL due to potential licensing conflict?

[2017-02-28 01:52] tomberek commented on #12
@fulldecent The desire for an expressed legal basis is still valid even though it is now a CONTRIBUTING policy vice an agreement.

@marctjones Most of this project assumes the license in question is compatible with open source or free software values. Is there a legal basis for the selection of a proprietary/non-free license as the only one under which the project owner will accept contributions?

[2017-02-28 03:48] alabrady opened #77 "Formatting"
I recommend adding paragraph numbers to the draft open source agreement so that specific line items can be more precisely identified between others.

[2017-02-28 03:52] alabrady opened #78 "referencing paragraph "c" from within paragraph "c""
In your draft open source agreement, paragraph c basically says that others have validated the above paragraphs a & b, which is fine.. but it also says paragraph "c" which means those others have verified that they have verified.  So I think that the reference to paragraph c was probably a hold over from an earlier version of this agreement where perhaps its text was in an earlier paragraph "d."

[2017-02-28 03:53] jbjonesjr commented on #67
I would argue this is beyond the scope of this repository and its current focus on OSS licenses. While a very important question to ask about DoD Open Source repositories, it applies far beyond Open Source, and beyond just the DoD (for example, https://github.com/usepa, https://github.com/usds, and https://github.com/ngageoint are all using git and GitHub, and would likely have a stake in any deci

[2017-02-28 04:19] dosaygo-coder-0 commented on #21
@BrandonBouier what's DCO attribution? This sounds like a legal question and I don't know.

[2017-02-28 04:43] rthbound commented on #67
@jbjonesjr I do agree with you, 💯, both that a policy on the subject is outside this project's stated scope and that the subject reaches beyond the DoD and beyond OSS. Thank you also for linking to these additional resources.

I greatly appreciate all of you participating in this discussion, and the concern you've shown for preserving Federal Records.

I feel like my concerns have been addressed.

[2017-02-28 05:38] marctjones commented on #78
I believe you are referring to paragraph c of the text of the DCO. The DCO is a well known certificate used by the Linux kernel project. The circular reference to paragraph c refers to situations were multiple people have passed on a patch up through multiple levels of maintainers.

Changing any of the text of the DCO would only serve to cause confusion as people will generally expect it to be the

[2017-02-28 05:41] marctjones commented on #69
I think we can close this issue, considering the change to the FAQ.

[2017-02-28 05:41] #69 closed

[2017-02-28 05:48] marctjones commented on #58
@tomberek I would also recommend closing this issue as beyond the scope of this project. It is true that "infants" and minors have a limited ability to consent to contracts. And similarly they have a limited ability to grant licenses, but this is a general limitation contained in most legal regimes. By its nature this legal limitation on infants can not generally be modified and is not really spec

[2017-02-28 05:50] marctjones commented on #70
@tomberek I think you are right it is worth thinking about if the new approach is compatible with the use of the GPL, but the specific issue I was calling out here does not appear to exist with the new approach. In the interest of keeping issues focused I am closing this issue.

[2017-02-28 05:50] #70 closed

[2017-02-28 06:13] garrettcadams opened #79 "Avr"

[2017-02-28 06:30] marctjones commented on #12
@tomberek I do not think I understand your question. My point earlier about FOSS community values was that I believe the community values transparency. And I personally did not agree that the reasoning of the ProCD case supported transparency. Your newer approach avoids that particular criticism completely since it is not based on contract law to attach copyright like terms.

I am personally think

[2017-02-28 07:22] marctjones commented on #12
@shawoods I do not think I was giving your initial approach enough credit before. Not sure it changes my other concerns, but you are indeed right the public domain in a broad sense, and probably the best way to understand the concept, incorporates an almost complete lack of all forms of intellectual property protection. (Save maybe trade secret protect?)

But I am not sure the strength of patents

[2017-02-28 07:22] #12 closed

[2017-02-28 07:56] marctjones commented on #21
@dosaygo-coder-0 to be clear. Moral rights arise as a creation of statutory law. They are not and can not be created via contract or a license.

The U.S. does grant a limited form of moral rights in some forms of copyrightable material, but not in software. It is my understanding that moral rights in EU countries do not typically apply to software, but I think that is generally a open question sin

[2017-02-28 08:02] marctjones commented on #21
@shawoods probably best to punt on moral rights and let the license you choose speak to (or not as the case may be) them. Otherwise you are back to drafting your own license again.

[2017-02-28 12:52] tomberek commented on #78
Concur with @marctjones. Closing.

[2017-02-28 12:52] #78 closed

[2017-02-28 12:53] tomberek commented on #79
Incomplete issue.

[2017-02-28 12:55] tomberek commented on #58
Agreed.

[2017-02-28 12:55] #58 closed

[2017-02-28 12:57] BrandonBouier commented on #21
@marctjones I have to say, I'm enjoying reading your comments :)

@dosaygo-coder-0 DCO stands for [Developer Certificate of Origin](https://developercertificate.org/).

Like you, I'm not sure the moral rights issue can be suitably addressed with what we're trying to do here (beyond the DCO attribution), without adding yet-another-license to the pool (something we've been trying really hard to avoi

[2017-02-28 12:59] skavanagh opened #80 "Polices for how government employees can contribute to non-government OSS projects"
How those projects are vetted and how / if government employees can contribute back to OSS software by non-government authors.

For instance I would love to have PKI / CAC authentication in http://github.com/skavanagh/KeyBox

The only thing I have found on this is here

http://dodcio.defense.gov/Open-Source-Software-FAQ/#Q:_Can_government_employees_contribute_code_to_open_source_software_projects.

[2017-02-28 12:59] irl commented on #39
@tomberek I think this addresses my concerns regarding variant license proliferation. Further discussion should probably happen in other issues, as this is no longer a license problem but a problem of accepting contributions.

[2017-02-28 12:59] #39 closed

[2017-02-28 13:19] BrandonBouier commented on #77
@alabrady Thanks for the comment!

Would you be able submit a pull request that shows how you think it should look? We would appreciate it.

[2017-02-28 13:20] BrandonBouier commented on #79
@garrettcadams was there something specific you wanted to raise as an issue?

If not, I'm going to close this.

[2017-02-28 13:51] BrandonBouier commented on #67
This is, in my opinion, the best discussion in this repo! I want to use it as an example of good, solid discourse & debate :)

For the record, I personally am not a fan of rewriting git history, much like @rthbound. That said, I'm also not a fan of trying (ultimately in vain) to restrict usage of tools like git in order to enforce a particular outcome. That tends to lead to systems that people wil

[2017-02-28 14:13] shawoods opened #81 "License explanation in CONTRIBUTING.md"
With the updated strategy, there is no longer a separate open source agreement. We debated on where in the documentation to put the remaining explanation about how the licensing would work. It is currently in Section 1 of CONTRIBUTING.md. Any thoughts about keeping it there versus breaking it out into a separate file?  If you think we should break it out, what would you recommend we name the file?

[2017-02-28 14:16] shawoods commented on #77
@alabrady If you are referring to CONTRIBUTING.md, I just added numbers to the section. If you're recommending numbering beyond the first level sections, please submit a pull request.  Thanks!

[2017-02-28 14:22] shawoods commented on #51
@xizhao What do you think about the updated open source strategy captured in CONTRIBUTING.md? The software would become of mosaic of code with and without copyright protections. At some point, the software may become a joint work, with the entire work copyright protected and subject to the license associated with the project. Any thoughts about that? What about selecting a copyleft license, like G

[2017-02-28 14:25] ckaran commented on #67
@BrandonBouier You're right about the discussion!

The reason I'm hammering on the records and rules and regulations isn't because they're fun to follow, it's because I know what happens if a) they are ignored and b) something 'bad' happens.  The go-to solution is generally to curtail the activity that lead to the 'bad' thing happening... in this case that could mean Government forays into Open So

[2017-02-28 14:32] nrlcmsladmin commented on #80
Our experience is that for everything we publish we need  to get publication release approval. Typically we submit a description of our work, along with our code to the administrative officer and when we get the "approved for public release" we can upload it. Note that you need to mark the part of your code as of being in the public domain.

Now  if you want to be committing often this will get re

[2017-02-28 14:35] irl commented on #34
@tomberek The problem with GPL is license compatibility.

https://www.gnu.org/licenses/gpl-faq.html#WhatIsCompatible
https://www.gnu.org/licenses/gpl-faq.html#WhatDoesCompatMean
https://www.gnu.org/licenses/license-list.html#GPLIncompatibleLicenses

By adding restrictions, you can accidentally prohibit things that you didn't intend to. AGPL is the worst for this.

[2017-02-28 14:46] fulldecent commented on #67
I am not exactly sure how this repo will end up being used. Maybe it will be a "copy-me-to-start-your-next-project" template like this https://github.com/fulldecent/swift3-module-template or maybe it will be a web page with a bunch of FAQs for people that want to start a project like https://opensource.guide/

Either way, this discussion is valuable and we may do well to include a FAQ section or w

[2017-02-28 14:53] zacsketches commented on #43
I'd like to concur with @storrgie here.  The professionalism with which you represent DoD matters a great deal.  There are many of us that are working hard to build open and transparent relationships with the software development community.  My particular effort on behalf of the Navy was recently covered in Fast Company and yet I would never claim to represent all of DoD because I am just the comm

[2017-02-28 14:56] ckaran commented on #80
@skavanagh If you are talking about Government-wide policies, you may wish to look at what is going on at [code.gove](https://code.gov/), or contact @mattbailey0 and @AlvandSalehi who are leading the Government-wide efforts.

@nrlcmsladmin your organization may be able to use what [ARL has done](https://github.com/USArmyResearchLab/ARL-Open-Source-Guidance-and-Instructions).  That might help you a

[2017-02-28 14:58] tomberek commented on #34
@irl I am aware of those restrictions. My question was from the perspective of a future manager of a government-produced project. We can't expect every project manager to be an expert on licensing and understand all the nuances. So general guidelines in the FAQ would help a lot. Perhaps we say:

I can imagine some guidelines:

[2017-02-28 15:00] ckaran commented on #67
@fulldecent I love it!  The DOD is big, so different components will be able to make their own decisions as they see fit.  It will also be useful for when people use github in unexpected ways (e.g., for policy discussions like this one, which may be a Federal Record and therefore have to be preserved).  Each project will then have to decide what to do on its own.

[2017-02-28 15:02] fulldecent commented on #34
@tomberek Considering the situation of government copyrighted code then yes you are free to choose a license for this code from the traditional off the shelf licenses. One nice website for that is https://choosealicense.com/

Learning from the private sector, MIT has been very successful and I would prefer if we recommended that first since it is the most permissive.

However if you are creating a

[2017-02-28 15:03] nrlcmsladmin commented on #80
I browsed over ARL's policy and it seems it deals with the major issues IMO (Initial release process, Liability, Minor/Major updates). I will bring it to the attention of our organization.
Thanks!

[2017-02-28 15:15] storrgie commented on #43
@zacsketches thanks for chiming it, I'm glad you found this even though it was closed already.

[2017-02-28 15:15] fulldecent commented on #36
@tomberek

If a project can assert copyright, then just select MIT/BSD/APL/GPL/... and this resolves #36.

If a project cannot assert copyright then MIT/BSD/APL/GPL/... are not applicable. Such a project should consider CC0. CC0 is special because it does not assert copyright and still allows permissive use.

Now the project has a license, what to do next?

----

No. The public domain contribution

[2017-02-28 15:16] dosaygo-coder-0 commented on #21
@marctjones thanks for contributing that explanation. And I think your suggestion of just leaving it up in the air is what they were originally intending based on @shawoods first response.

Based on what you've said it seems to me that if moral rights are these things which can't be granted by contracts, but only by the pre-existing statutes that exist in jurisdictions, and also then if what "mora

[2017-02-28 15:18] fulldecent commented on #36
Cross-posting, Army Research Lab uses CC0 for this exact reason

https://github.com/USArmyResearchLab/ARL-Open-Source-Guidance-and-Instructions/blob/master/README.md#the-cc0-license-and-the-arl-contributor-license-agreement-arl-cla

[2017-02-28 15:25] dosaygo-coder-0 commented on #81
I think that's a good idea because now it's more like the terms of contributing, which is more in line with how open source projects order their contribution behaviour. The intended purpose of what you're trying to do seems more clear now that the concepts of the former agreement are expressed in the familiar vehicle of the contributing guideline doc. Seems to have shifted the emphasis from "legal

[2017-02-28 15:30] dosaygo-coder-0 opened #83 "Some questions on forking projects licensed per the Proposal"
Maybe this is not important to consider right now, but in case it's on topic, here are some questions I have if I wanted to fork or otherwise adapt software that came from a project with the proposed CONTRIBUTING.md file

- If I forked it to a project "located in" ( whatever that means ) another country that did have copyright protections, could I just omit the CONTRIBUTING.md and keep whatever LI

[2017-02-28 15:38] fulldecent commented on #83
Software is international. And remember the US government has plenty of people that work abroad and are subject to the laws of other countries. So this project is definitely applicable to a global audience.

You are free to fork and do whatever you want with the code, restricted by any requirements in the licenses of the project.

In all licenses that we are considering there has been no discussio

[2017-02-28 15:39] irl commented on #34
@tomberek While I agree in principle with the split between developer focussed (e.g. libraries) and end-user focussed (e.g. graphical applications) you also then place restrictions on what the code could be in the future (e.g. graphical applications having code refactored into a library) and thus create a ticking time bomb. You can avoid this problem with copyright assignment, but I personally ref

[2017-02-28 15:40] fulldecent commented on #67
@ckaran Thank you!

Sorry, just realized I left your above question unanswered. I was previously an engineer with the US Navy.

[2017-02-28 15:55] johnmod3 opened #84 "BRL-CAD"
a project to reach out to in the Army project BRL-CAD (sine 1979 as an OSS project)
http://svn.code.sf.net/p/brlcad/code/brlcad/trunk/COPYING
https://brlcad.org/
https://brlcad.org/d/about
see:
BRL-CAD Copying and Distribution
================================

BRL-CAD is Open Source software with copyright primarily held by the
U.S. Government.  The source code is controlled and maintained by a
co

[2017-02-28 16:19] fulldecent opened #85 "Use ARL policy as a starting point for code.mil"
Much of the discussion here to date has been around licensing. There are many other practical considerations about open sourcing.

I am interpreting the scope of this project to include everything DoD project managers need to open source a project. Therefore those practical considerations are in scope.

I am working on PR #92 to start a document for those items.

DDS employees are welcome to call

[2017-02-28 16:30] ckaran commented on #51
I've put the idea up on the OSI license-discuss mailing list.  If you are interested in this idea, I suggest either joining the mailing list, or visiting the archives, both of which can be found [here](https://opensource.org/lists).

[2017-02-28 16:31] ckaran commented on #67
@fulldecent Got it, then you have some experience in dealing with the Government.  Good to know!

[2017-02-28 16:34] ckaran commented on #85
@fulldecent We've worked on some of these issues already.  Take a look at [ARL's policy](https://github.com/USArmyResearchLab/ARL-Open-Source-Guidance-and-Instructions).

[2017-02-28 16:44] ckaran commented on #83
As I understand it from Army Research Laboratory lawyers, copyright is something that is attached at the moment of creation; it cannot be added to material afterwards.  That means that works that were in the public domain at the time of their creation and in the place where they were located are still in the public domain, even when forked to a different jurisdiction.  Note that I am not a lawyer,

[2017-02-28 16:45] marctjones commented on #51
@shawoods Without discussing my thoughts on how valid a position it is. I will share that a lot of FOSS attorneys try to treat contributions to a project as a series of separate individual derivative works. Bringing up the concept of a joint work makes some of them twitch.

And if you play it out, I am not sure that is helpful in your strategy either. But I truly don't know how the lack of copyrig

[2017-02-28 16:59] fulldecent commented on #85
@ckaran ARL policy is great. Perhaps this can be made generic (s/ARL/DOD/) in a few places for the entire DoD audience and published at code.mil. I can help with this.

[2017-02-28 17:18] shawoods commented on #51
@marctjones Thanks for this! Is it fair to say your conclusion is that it's more accurate to characterize the outcome of our strategy as a mosaic of public domain and copyrighted code, rather than a joint work?

I agree.

Given your thoughts about joint work, how do you reconcile this FAQ?

http://dodcio.defense.gov/Open-Source-Software-FAQ/#Q:_Can_government_employees_contribute_code_to_open_sour

[2017-02-28 17:18] ckaran commented on #85
@fulldecent  Sounds good!  Fork it and have at!  That said, I'm not going to pull the changes into the `master` branch;  the reason is that the policy you see **is** ARL's official policy; it is not a reflection of some other document.  If I pull in requests to the `master`, then I've changed official policy, and I need the Director's approval to do so.

That said, I'm open to a long-standing bran

[2017-02-28 17:39] shawoods commented on #85
@fulldecent We would be very interested in your thoughts about the practical implications for project managers. We'd welcome a PR for this repo with a document starting that discussion.

[2017-02-28 17:43] ckaran commented on #85
@shawoods Take a look at ARL's stuff, and jump in where you want to.  I expect that there will be significant work on the `develop` branch shortly.

[2017-02-28 17:54] marctjones commented on #34
@tomberek  Use <my favorite license> because {it is awesome | it is simple | it was written by lawyers | it wasn't written by lawyers | it is GPL | it is not GPL | I read somewhere ...}.

I think the best license depends on your goals. And I don't know them so I am not going to give you my advice.

In fairness to the above arguments they are all understandable and have an appeal but I think they o

[2017-02-28 18:04] #79 closed

[2017-02-28 18:06] marctjones commented on #21
@dosaygo-coder-0 Lead somewhere constructive? I think that was your mistake. ;) See this [t-shirt](https://teespring.com/shop/tlaw#pid=2&cid=2397&sid=back).

But I am glad my comments were disappointingly helpful. As a new englander I like cloudy days.

[2017-02-28 18:24] marctjones commented on #83
@ckaran  I think you have that right.

For better or worse copyrights are legally a property right granted by statute within a specific jurisdiction. There is some theoretical debate about if intellectual property and copyrights should be considered "natural rights" but historically and in practice they have always been considered creatures of statute so exist as a result of the favor of the state

[2017-02-28 18:40] ckaran commented on #83
@marctjones  I feel like we're now dealing with [Schrodinger's cat](https://en.wikipedia.org/wiki/Schr%C3%B6dinger's_cat)!

[2017-02-28 18:40] marctjones commented on #51
@shawoods I have questions for the author of that Answer. Maybe he is right, but I /feel/ like that is not what joint work means. I think that answer makes more sense if joint work was read to mean a derivative work or compilation. I have never dug up a law review article on joint works, and I think I need to read a primer on it to really understand if the law is even clear enough in this area to

[2017-02-28 18:54] marctjones commented on #83
It is hard to make a universally true statement. But I do like [cats!](http://xin-rou.blogspot.com/2012/06/kitten-may-you-rest-in-peace.html)

[2017-02-28 18:59] ckaran commented on #83
@marctjones :(

[2017-02-28 19:39] sgnn7 opened #86 "CC0 public dedication probably better"
Technically, code here can probably fall under CC0 copyright/ownership waiver for public work and you can use that legal text instead of making your own:
- https://creativecommons.org/publicdomain/zero/1.0/legalcode
- https://wiki.creativecommons.org/wiki/CC0

[2017-02-28 19:41] sgnn7 opened #87 "ITAR info"
It would probably be good to add some sort of link or explanation of ITAR restrictions in the document if project source might include things of that nature.

[2017-02-28 19:42] sgnn7 commented on #86
Closing since I just found the FAQs that cover this

[2017-02-28 19:42] #86 closed

[2017-02-28 19:44] sgnn7 commented on #86
Sidenote: it might be good to add the FAQ link to the main docuent

[2017-02-28 21:37] blakelapierre commented on #14
My understanding is the same as told in the opener. All US government work is public domain and completely owned by the people. I don't see how the US government can put a license restricting, or otherwise controlling, peoples' use of any text it, its employees, or its contractors produce.

Can anyone cite a particular statute that contradicts the Army's lawyer?

[2017-02-28 21:49] fulldecent commented on #85
I have also jumped in on the ARL repo.

@shawoods thanks for the invitation to make a starting point here. Here is what I will do:

- [ ] Copy ARL policy to this repository on the `gh-pages` branch
- [ ] Turn it into a SIMPLE web page because I think the end point here will be a web page hosted at code.mil
- [ ] This will use styling per https://standards.usa.gov/page-templates/ from 18F
- [ ] Rep

[2017-02-28 22:17] ckaran commented on #85
@fulldecent @shawoods Would you be willing to make a note that it was forked from ARL's policy?  Citation count/fame is part of how ARL keeps its funding...

[2017-02-28 22:17] jbjonesjr commented on #14
@blakelapierre check out the discussion on this topic in #12.

[2017-02-28 22:31] fulldecent commented on #14
@blakelapierre The ARL recommends releasing under CC0, which specifically disclaims copyright. This is the same if you were to personally copy and paste other code you found on the internet that was properly licensed CC0 and then you relicensed it CC0. You can do that.

Next is a "restricting".

You can't restrict other people from using the published work as they see fit. That includes requiring

[2017-02-28 23:04] fulldecent commented on #85
@ckaran of course, noted in project plan above

[2017-03-01 02:21] tomberek commented on #86
@sgnn7 Adding link to FAQ in #90

[2017-03-01 02:28] marctjones commented on #81
@shawoods I think section 1 is a little confusing it taken literally.

"This Work is not eligible for copyright protection in the United States (U.S.). This is generally understood to mean that this Work is placed in the public domain."

You don't actually mean that as  a unqualified statement do you? I think you mean to say that the government work contained in the project is not eligible for cop

[2017-03-01 02:51] tomberek opened #91 "Instructions for projects"
Situation: Someone selects ISC for their project. The text from [here](https://opensource.org/licenses/isc-license) is:

What should be the recommended content of the Copyright line? The `<YEAR>` is the current year. `<OWNER>` cannot be US Government since we do not ask that contributors assign copyright and federal employees don't have it. There seem to be a few variations in common use:

What is

[2017-03-01 02:56] tomberek commented on #91
Markdown obliterated the following in the original of the ISC:
[code]

[2017-03-01 04:57] fulldecent commented on #85
Please see pull request #92, this is a DECENT start of wholesale stealing ARL's brilliant policy and turning it into a recommendation on behalf of DDS for all of DoD.

This PR updates code.mil and it (implicitly) describes the scope of this (code.mil) project. Basically it is a rewrite.

Working on this discussion is fun, but I want to do what is necessary to get this PR approved and accepted. Thi

[2017-03-01 06:31] gautam1858 opened #93 "GANs for security"
Hi it would be interesting to implement neural networks like GANs to prevent the cyber security threat we are facing in this world.
Signed-off-by: Gautam Ramachandra <gautamrbharadwaj@gmail.com>

[2017-03-01 07:07] tomberek commented on #93
Please consider implementing and developing this in a separate repo under an open source license.

Closing as off-topic.

[2017-03-01 07:07] #93 closed

[2017-03-01 07:09] wuethan opened #94 "从历史来看这是非常重要的"
这意味着让更多的开发者了解到何种水平才能步入这个领域，如何才能做好安全，从历史来看这也是一次重要的开源，希望包括我在内的开发者能享受这份喜悦

[2017-03-01 12:46] BrandonBouier commented on #91
@tomberek it might be simpler for the project to go with the MIT license instead in this case. From the government standpoint they would be functionally equivalent.

[2017-03-01 13:03] tomberek commented on #91
The question is similar for MIT:

[code]

[2017-03-01 13:13] marctjones commented on #91
@tomberek Wouldn't this be a question for legal counsel since it appears to be about compliance with a statute? I believe others have mentioned before in unrelated issues that it is not considered in appropriate in the FOSS community to have private discussions with legal counsel when seeking legal advice.

It appears @shawoods is an attorney for your group perhaps she can advise you or knows the

[2017-03-01 13:47] shawoods commented on #14
I've seen this in a few threads, but the concepts of lack of copyright, public domain, and CC0 keep getting conflated.

* U.S. law does not require Federal government employees to put creative works in the public domain. The U.S. Copyright Act does not explicitly define public domain. What the Act actually does is make works created by U.S. Federal government employees ineligible for copyright pro

[2017-03-01 13:48] ckaran commented on #85
Since all of this discussion may be a Federal Record, deleting `master` may not be a good idea; at the very least, move what you've got to a different branch that you keep around for posterity.

[2017-03-01 13:50] shawoods commented on #30
@2grep Tech transfer law is a special use case we're not tackling yet, but in later iterations we intend to dive into it.  I will keep this open and revisit this issue when we've tackled tech transfer in earnest. Our hope would be that this open source strategy would be helpful for tech transfer scenarios (like under a CRADA) as well, but it may be that we need to make some tweaks or add some FAQs

[2017-03-01 13:57] shawoods commented on #34
@marctjones @irl Your thoughts about using copyleft licenses are helpful. We are actively triaging our projects now to find an appropriate candidate.

Agreed. That is why it's so important, as you all are saying, to carefully analyze candidates projects and determine whether there are factors that would make a strong copyleft license problematic. As an aside, we are looking at https://www.fsf.org/

[2017-03-01 14:27] richardfontana opened #95 "Explanation of DCO not quite correct"
In https://github.com/deptofdefense/code.mil/blob/master/Proposal/CONTRIBUTING.md#2-your-contributions-developers-certificate-of-origin, the statement "The DCO is a legally binding statement that asserts that you are the creator of your contribution and that you are intentionally making your contribution available under the license associated with the project." is not exactly consistent with what

[2017-03-01 15:06] VhatAmI opened #96 "Liability of contributors under current Developer Certificate of Origin Version 1.1"
In most open source there is something stating software is provided AS-IS
etc. to deflect liability from present or future bugs that might occur in a prospective authors code.

Will the DOD be holding code authors liable for bugs or issues?
Will there be some protections put into place?

The way I see it a good faith commit (not one that is intentionally malicious) would be reviewed by the DOD bef

[2017-03-01 15:13] richardfontana commented on #96
Under the DCO a contribution is submitted under the applicable open source license of the project which  (I'm sure in all cases the DoD is contemplating) will have warranty/liability disclaimers.

[2017-03-01 15:13] fulldecent commented on #85
@ckaran This is addressed in an updated Acceptance Plan above

[2017-03-01 15:34] shawoods commented on #95
@richardfontana Thank you for sharing your thoughts with us. I will admit, I'm pretty excited to see you jumping on the threads.

I agree that the statement is oversimplified and misses (b) and (c).  We've been struggling with trying to keep the explanations simple and in plain English without resulting in inaccurate statements. We were hoping to have a simple explanation recapping the effect of t

[2017-03-01 15:44] richardfontana commented on #95
@shawoods to be sure, probably most cases of contributions to most projects will fall under part (a) of the DCO. Just wanted to be sure you all were aware of the issue.

[2017-03-01 15:45] johnmod3 commented on #30
@shawoods as a general question: after there is a solid draft will be it have to go through DoD coordination or DoD Legal office review?

[2017-03-01 15:51] shawoods commented on #36
@fulldecent CC0 presumes copyright, just like any other license, and waives it to the greatest extent possible with a public license fallback where that is not possible.  Government works cannot be licensed under CC0 in jurisdictions, including the U.S., where the work is ineligible for copyright protections. Perhaps I am misunderstanding your statement, but Government works do not equate to CC0.

[2017-03-01 15:54] fulldecent commented on #36
The ARL policy (incorporated in PR #85) and its contributor agreement handles this well.

If a private citizen contributes to a government project they want make that contribution without any warranties/liabilities attached. That's the main issue.

[2017-03-01 16:03] ckaran commented on #85
@fulldecent Good, thank you!

[2017-03-01 16:43] shawoods commented on #30
@johnmod3 I am glad you asked because my sense is that some of the Government folks are a little nervous about this experiment.

As previously stated on several other threads, we are not setting DoD policy with this initiative; rather, we are experimenting on how to foster more collaboration with the open source community on DoD projects. This matters for many reasons, but one of the reasons is th

[2017-03-01 16:56] testsecer commented on #94
美国防部厉害了！！！！！

[2017-03-01 16:57] fulldecent commented on #94
那是的！

[2017-03-01 16:57] shawoods commented on #83
@dosaygo-coder-0 The CONTRIBUTING.md file never has to be included in a fork.  Whether LICENSE.md has to be included in a fork depends on the status of the project at the time.

*If there have been no merged copyrighted contributions, and you're in a jurisdiction where the Government written code is not eligible for copyright protections (e.g., the U.S.), then you do not need to keep LICENSE.md. I

[2017-03-01 19:00] blakelapierre commented on #14
I agree with many of the points being made since my last post, however, the [current proposal](https://github.com/deptofdefense/code.mil/blob/master/Proposal/CONTRIBUTING.md) requires contributors to state:

[code]

We have established here that the US Government cannot restrict use of any of its work, however if the contributors' Certificates are released as part of their contributions, the US Go

[2017-03-01 19:23] shawoods commented on #14
@blakelapierre The language you are quoting is from the DCO text. Anyone intending to use DCO must comply with the terms of the DCO license document. Our proposed strategy is to implement the DCO process for contributions. We can't change that language.

If we merge commits executed under the DCO process, the USG, just like everyone else, has to abide by the terms of the license invoked by the con

[2017-03-01 19:30] shawoods commented on #81
@marctjones Grrr. Fair point. Working on it.

[2017-03-01 19:41] shawoods commented on #77
Section numbers and versioning added to CONTRIBUTING.md.

[2017-03-01 19:41] #77 closed

[2017-03-01 20:11] shawoods commented on #81
Just updated the language. Check out the latest file.  What do you think?

[2017-03-01 20:13] shawoods commented on #95
I just updated the language to be more inclusive of (b) and (c), but still trying to keep it concise.  You can check out the latest CONTRIBUTING.md.  Here is the language below:

What do you think?  Better?

[2017-03-01 20:34] shawoods commented on #94
Thanks for the support.

[2017-03-01 20:34] #94 closed

[2017-03-01 20:45] marctjones commented on #34
@shawoods Have you see the FSF FAQ page. While thier interpretation is of the GPL is not authoritative, as the authors of the GPL I think most people find thier interpretation persuasive.

But at least according to the [FSF,](https://www.gnu.org/licenses/gpl-faq.html#GPLRequireSourcePostedPublic) you do not need to share modifications merely because you made modifications.

[2017-03-01 21:00] marctjones commented on #34
@shawoods Makes sense. Keep it simple.

[2017-03-01 21:13] fulldecent commented on #85
I have made progress on #92 and implemented the work plan above.

We now have a candidate website to replace code.mil. You can test this website by accessing my pull request, running `jekyll serve` and viewing from your web browser. But it is basically the same as just reading the markdown files.

![screen shot 2017-03-01 at 4 02 21 pm](https://cloud.githubusercontent.com/assets/382183/23481193/93

[2017-03-01 21:29] BrandonBouier commented on #85
@fulldecent Thanks for PR #92! We really appreciate your enthusiasm and contribution to Code.mil. We are super focused on finalizing CONTRIBUTING.md, FAQ.md, and README.md and then releasing a few of our software projects.

Just wanted to let you know it might be a little while before we tackle this PR in earnest.  As far as developing a website that is definitely on our radar, but we have to do s

[2017-03-01 21:41] fulldecent commented on #85
The "website" part is just one file, https://github.com/fulldecent/code.mil/blob/gh-pages-arl-rewrite/_layouts/page.html, that is lifted from 18F's template and it translates markdown to HTML. That's not the important part.

The important review is

* Does this project goal and other statements at https://github.com/fulldecent/code.mil/blob/gh-pages-arl-rewrite/index.md accurately portray DSS's go

[2017-03-01 21:46] #36 closed

[2017-03-01 22:49] richardfontana commented on #95
Yes, that seems good.

[2017-03-01 23:27] johnmod3 commented on #44
I did some digging found this:
'Copyright © 2007-2016 United States Government as represented by the Administrator of the National Aeronautics and Space Administration. All Rights Reserved.'
via https://github.com/nasa/earthdata-search/blob/master/LICENSE
in the NASA github repo - I'm looking for language, but i seem to remember that NASA can create and claim copyright. Other repo's have JPL and c

[2017-03-02 02:03] konklone commented on #44
No, I think NASA is just wrong. Government agencies do this all the time. If you pressed them, I think NASA would take the notice off.

[2017-03-02 03:39] marctjones commented on #81
@shawoods I think that explanation of what you are trying to do with licensing is much clearer.

If I can make two stylistic suggestions:

1) It seems it would be clearer to lead your explanation of the licensing status of the code base, not by explaining/acknowledging this quirk of U.S. Government works, but by stating how you want people to treat the code. By asserting copyright in all foreign j

[2017-03-02 07:25] blakelapierre commented on #14
That's fair, but I can't imagine the success of code that is multi-licensed. Having to write the liably-accurate manuals on what code is available (or, maybe, it turns out: it's not available to you for `x` technicality) under which license is a job that I think few will volunteer for.

I think the solution is simple: the `AS IS` license. Anything else is a lie or unnecessary. The code is the code

[2017-03-02 07:41] #95 closed

[2017-03-02 08:05] blakelapierre commented on #14
I think the concern comes when the US Government republishes licensed code. I think we've established that all US Government publications are public domain, uncopyrightable, and/or unlicensable; meaning, anyone could do anything they'd like with any part of the publication they'd like. Now, we have reached a contradiction: anyone may freely "violate" any licensed code by virtue of their ownership

[2017-03-02 14:46] marctjones commented on #14
@blakelapierre In the typical case, no one, including the government gains, a copyright in a work merely because they republish it. Copyright is granted by the /act of authorship/ and is not, under the current law, dependent on the /act of publication./ To determine who the copyright holder is you need to look to who authored the work (and its subsequent history of changes in ownership/assignment

[2017-03-02 15:02] marctjones commented on #14
@blakelapierre It is actually very common for FOSS projects to contain source code licensed with different licenses. But you are right it can get complicated. You might want to check a recent presentation at FOSDEM on [Mixed License FOSS Projects](https://fosdem.org/2017/schedule/event/mixed_license/). Unfortunately it appears that there is no video for the talk but you can still see the slide dec

[2017-03-02 15:59] marctjones commented on #14
@shawoods  I feel like you can close this issue. This horse is pretty close to dead.

[2017-03-02 16:01] marctjones commented on #34
@shawoods I think this issue has evolved a few times. Maybe now is a good time to close it before it evolves again.

[2017-03-02 16:30] shawoods commented on #14
This has been a great thread. I think we've closed out all the issues, but if someone disagrees let me know and I can always reopen it.

[2017-03-02 16:33] shawoods commented on #87
@sgnn7 I don't mean to be ignoring this question, but ITAR is complicated. Just because the code is in support of DoD projects does not mean it is automatically considered a defense article. It depends on what the code is actually doing. A complete answer to the issue you raise will require some more research. Anyone more experienced in this area, please feel free to chime in.

[2017-03-02 16:39] johnmod3 commented on #87
ITAR is ultimately determined by the government - they can decide if an item or part of a code should be controlled or not. Since the penalties are so severe companies tend to over classify. We were able to get a majority of DDF (Distributed Data Framework - an open source, modular integration framework. http://ddf.codice.org) reclassified as a non-ITAR item and released as OSS. See: http://codice

[2017-03-02 16:39] sgnn7 commented on #87
@shawoods No worries - I just wanted to put it on the radar for you :)

[2017-03-02 16:42] shawoods commented on #87
@johnmod3 Thanks for getting the ball rolling and sharing this info.

[2017-03-02 16:57] shawoods commented on #34
This thread has pivoted a few times. I think all of the issues have been closed out, but if anyone disagrees we can always reopen it.

[2017-03-02 16:57] #34 closed

[2017-03-02 16:59] scottg commented on #44
Bottom Line: The US Government (USG) can hold copyrights, and in most cases can trigger copyrights to be created as side-effect of work done by mix of contractors and federal employees, and those copyrights can then be assigned to the USG. The Copyright Act of 1976 governs this issue.

What this means in practice from my experience:

- Anything created by a federal employee as part of their job ca

[2017-03-02 17:17] NoahKunin commented on #34
Wow! Thanks for all the comments. Will take a hot minute to review. Thanks again.

[2017-03-02 20:38] scarint commented on #80
Just read this article: https://www.theregister.co.uk/2017/02/21/code_for_cow_crap_valuation_and_chemical_risks_headed_your_way/

A quote says "[Paul] Berg was brought in to develop a process for releasing the software the government creates, though not all of it can be released, owing to national security considerations, among other concerns...For Berg, the challenge involves figuring out what to

[2017-03-02 21:05] blakelapierre commented on #14
What law allows this?

A derivative work is a work. If the US Government publishes it. I can use it

The premature closing of this issue was really uncalled for.

[2017-03-02 21:11] blakelapierre commented on #14
Contract theory is predicated on consideration. Is there a contribution payout schedule somewhere? Will payments be negotiated per contribution?

[2017-03-02 22:58] marctjones commented on #21
@shawoods I am guessing you could close this issue as well.

[2017-03-02 23:55] marctjones commented on #14
@blakelapierre You will note that they have pivoted in a new direction and are not relying on contract as the basis for their strategy anymore. But even if they did consideration can come in many forms, it does not need to be a monetary payment. While I had some questions about consideration myself, I was never intending to suggest that monetary payments needed to be involved to form a binding con

[2017-03-03 01:01] blakelapierre commented on #14
@marctjones, to me, a pivot is a continuation of your path (albeit, yes, in a new direction). I didn't realize that much of the past claims here were disclaimed (it's kind of unclear at first glance which ones those are) in the abrupt pivot (is there an announcement thread?).

Can anyone produce instances of the US Government republishing copyrighted works with restrictive licenses, so that we can

[2017-03-03 01:24] marctjones commented on #14
@blakelapierre

Publication is not generally relevant to who the copyright holder is. The copyright Office publishes some wonderfully readable [circulars](https://www.copyright.gov/circs/) to explain parts of copyright law. According to [Circular 1](https://www.copyright.gov/circs/circ01.pdf)

as it was under the Copyright Act of 1909.

But do note that:

by the act of publication with notice of c

[2017-03-03 01:28] marctjones commented on #14
Someone suggested that [BRLCAD](https://brlcad.org/d/about) is an example of a work that is largely produced by the government and released under a FOSS license. You might want to check out issue #84 for that  discussion.

In any event I do believe that at least to the extent that this issue was originally questioning on the basis of using contract law as a legal tool to take advantage of a copyri

[2017-03-03 14:31] shawoods opened #99 "FAQ Updated!"
We made a substantial update to the FAQ.  There are still some items we'd like to add, but would really appreciate any feedback on issues we might have missed or language that could be improved.  Thanks!

[2017-03-03 17:28] blakelapierre commented on #14
It's too bad this project is being controlled by people with no apparent connection to the project or the US Government. I mean, really; I posted a blatant logical contradiction in the current strategy before going to sleep and the issue was closed before I woke up, without comment.

@marctjones, your [linked project](https://brlcad.org/d/about) specifically disclaims being a publication of the US

[2017-03-03 18:45] marctjones commented on #14
@blakelapierre I believe that the change in legal tactic was announced here. The announcement also asked people to go read the new version of the CONTRIBUTING,md file which explains the theory for there current legal tack. The new legal tack was discussed and explained. You can see a more concise explanation provided by the project maintainers in the FAQ:

I am sorry my attempted explanation of wh

[2017-03-03 20:36] blakelapierre commented on #14
That is the contradiction.

It's also not relevant, in my view, as the US Government or its employees
do not have copyrights.

The situation, as I see it, will be, on publication of code under a
restrictive license (eg. those mentioned in the current [LICENSE proposal](
https://github.com/deptofdefense/code.mil/blob/master/Proposal/LICENSE.md)):

* The US Government has published a work
* People a

[2017-03-03 20:40] blakelapierre commented on #14
To further illustrate the issue,

if the US Government publishes MIT license software, that publication is copy-restricted.

[2017-03-03 20:54] marctjones commented on #14
Yes you are correct if the U.S. government publishes a work containing MIT licensed code by a third party, then the publication as a whole would be at least in party restricted by copyrights.

I would suggest you look at the license that is asserted in the [COPYING](https://sourceforge.net/p/brlcad/code/HEAD/tree/brlcad/trunk/COPYING) file of BRL-CAD source code, instead of the disclaimer and lice

[2017-03-03 21:15] tomberek commented on #14
@marctjones That is correct.

@blakelapierre My interpretation is that the code created by government employees remain in the public domain, while contributions by third parties have copyright. Because public domain is the ultimate "recessive gene",  the de-facto license for a popular project will end up being the chosen license.

If the public doesn't like the license provided, they are free to f

[2017-03-03 21:47] shawoods commented on #87
This looks very promising. I'm admittedly not very knowledgeable in ITAR/EAR, so I'm sure many of you already know this, but generally speaking information that is available to the public is excluded from export controls under ITAR or EAR. For the ITAR/EAR SMEs out there, feel free to chime in!

http://osp.mit.edu/compliance/export-controls/export-control-topics/publicly-available-public-domain-op

[2017-03-03 22:11] marctjones commented on #14
@blakelapierre I am still a little confused by your use of the word "publish" since you said it was not relevant to your position. If it is not relevant to the contradiction, then what difference does to exist of copyrights does it make that the government is publishing a work?

If your concern is about the U.S. government's ability to hold copyright or its inability to acquire copyrights in works

[2017-03-03 22:12] ckib16 opened #100 "Is Code.mil just for select projects? Or can people build their own ideas?"
Hi all,

I've read the FAQ and Contributing. But I'm still a bit confused...

Is Code.mil for:
1. Anybody with an OSS idea they'd like to build for the DoD?
2. Just for collaborating on the specific projects that the Code.mil team is working on?
3. None of the above :)

I have some ideas I've always wanted to build for DoD use, but not sure that's the site's intent.

[2017-03-03 23:24] marctjones commented on #87
Don't forget to check out [Part 742.15](http://www.ecfr.gov/cgi-bin/text-idx?SID=86d59a5fcda4eb9ca286e85d7e818517&mc=true&node=se15.2.742_115&rgn=div8) of the FedReg

And the all important [Note 4](https://www.bis.doc.gov/index.php/documents/regulations-docs/federal-register-notices/federal-register-2014/951-ccl5-pt2/file)

and meeting all of the following:

functions; and

There is a lot going in

[2017-03-04 01:06] blakelapierre commented on #14
@marctjones, you posited a "copyright protection" for a US Government work in an argument seeming to assert that the US Government takes no rights in some things it might publish (e.g. MIT licensed software):

What I indicated was not relevant, was whether or not copyright was related to publication, as US Government works are already barred from copyright.

I'll reduce it.

Premises:
1. Congress

[2017-03-04 07:32] dosaygo-coder-0 commented on #83
@shawoods okay I got it. That's clear after I read it a few times.

@marctjones thanks for contributing that explanation about copyright across jurisdictions. I ( probably unjustifiably ) feel like an expert after reading it.

[2017-03-06 02:14] royfielding commented on #21
Open source licenses do not address moral rights because those rights do not restrict modification and distribution of the work. What they restrict is misleading statements about its authorship and overbearing restrictions on the original author; neither is something we would want to license, so they never appear as a licensed permission.

[2017-03-06 02:36] royfielding commented on #81
I agree with @marctjones suggestions above. The public domain concept is a special case of golden permission that software recipients never need to worry about, in spite of the hand-wringing within government legal discussions that you are facing right now. Focus should be placed on the intended license for all parts of the work which are not (for the recipient) in the public domain.

[2017-03-06 12:22] dosaygo-coder-0 commented on #91
I think it's not necessary to get legal on this because by avoiding assigning copyright to the U.S Government or federal employees you're steering clear of the legal no-no of saying U.S. Government works have copyright.

And so as long as we're in the legal clear then it's a choice between the options guided by other non-legal reasons and guided by the purpose, which is a recommendation for projec

[2017-03-06 13:48] vesche opened #102 "What really is code.mil?"
Is `code.mil` going to be a separate repository? Like a GitLab or Gogs hosted by the DoD? Or is the idea to have all of this on Github? And then is `code.mil` just going to be a showcase of Github repositories similar to `code.gov`? If that's the case I think it needs to be made more apparent in this repo.

I have a network security monitoring project that I have been fighting to open-source for o

[2017-03-06 14:01] shawoods commented on #100
@ckib16 That's a fair question! We will add something to the FAQ to make the "who" clearer.

1 - This is an interesting idea. We're super focused on getting ready to release our projects, but I will add this to the list of things to keep track of for future iterations.

2 - Collaborating on DoD projects being hosted by Code.mil is the main purpose of the site.

[2017-03-06 14:07] shawoods commented on #102
@vesche We know there are a lot of internal barriers preventing DoD projects from becoming open source. Code.mil projects will only be hosted in public repositories, which for now is GitHub.  There is no intention to add CAC authentication.  We recognize that leadership might be more comfortable with projects behind CAC authentication, but that's not really open source. Code.mil is about fostering

[2017-03-06 14:10] johnmod3 commented on #102
@vesche  Have you tried https://www.di2e.net/display/DI2E/DI2E+DevTools ?
In general trying to enforce some sort of CAC card scheme to see source code under an OSS license is doomed to failure and frustration. The problem comes trying to warp OSS into a model that breaks some key OSS precepts like being about to fork.

[2017-03-06 14:11] shawoods commented on #96
I think this issue has been answered per @richardfontana. Please see https://github.com/deptofdefense/code.mil/blob/master/FAQ.md#what-is-the-liability-of-a-contributor in the FAQ update. If anyone has anymore questions/concerns on this point we can always reopen.

[2017-03-06 14:11] #96 closed

[2017-03-06 14:40] vesche commented on #102
@shawoods I understand, and thanks for clearing that up. I sent you an email highlighting a few of my issues so you can understand my struggle. Another issue is that there are concerns of security involving personal identity (especially surrounding military members), that's why the [NSA IAD](https://github.com/iadgov) Github never push from personal user accounts. If I ever wanted to hack on some

[2017-03-06 14:45] johnmod3 commented on #102
@vesche agree, that also the reason forge.mil has failed, exclusive and too small a group of dev's. Having been at this game of helping the military/IC open up for the last 15 years - the toughest thing is stopping the bureaucracy from wanting OSS tuned to their needs, not realizing when you do that the projects die. Better to set things in stone and get them fully OSS'd, trying to create a halfwa

[2017-03-06 14:52] vesche commented on #102
@johnmod3 Well, I'm ready to get yelled at a bit. So I'll be trying to open-source something as `code.mil` gets off the ground, if anything to be part of the change.

[2017-03-06 14:55] johnmod3 commented on #102
head over to http://mil-oss.org/ and the mailing list https://groups.google.com/forum/#!forum/mil-oss
lots of folks there with the battle scars and willingness to help :-)

[2017-03-06 15:02] marctjones commented on #91
@dosaygo-coder-0 The form of a copyright notice is actually pretty specific. While I @tomberek accurately described the form that copyright notices often take in open source projects, The Copyright office publishes [circulars](https://www.copyright.gov/circs/) on various copyright law issues, including one on [copyright notices.](https://www.copyright.gov/circs/circ03.pdf) What the requirements an

[2017-03-06 15:11] #102 closed

[2017-03-06 16:22] marctjones commented on #91
@dosaygo-coder-0 Just to clarify the [statute](https://www.law.cornell.edu/uscode/text/17/105) that denies a grant of copyright protection in works created by the federal government also makes clear that the federal government can hold copyrights it has been given for some reason. In other words unlike most "people" the federal government doesn't get granted a copyright when it is the original aut

[2017-03-06 16:43] shawoods commented on #81
@marctjones @royfielding Thank you for this feedback! I agree and updated CONTRIBUTING and LICENSE. Please see PR #103. What do you think? Is this better?  Any suggestions on language?

@royfielding Really appreciate you commenting on this project.

[2017-03-06 16:54] shawoods commented on #83
Closing because @dosaygo-coder-0 said his question was answered.

[2017-03-06 16:54] #83 closed

[2017-03-06 17:22] shawoods commented on #21
@dosaygo-coder-0 At this time, we don't intend to address moral rights separately. Relative to author attribution, which is different but related, we will comply with whatever open source license is associated with the project.

Can I close this issue or is something still outstanding from your perspective?

[2017-03-06 17:36] shawoods commented on #41
The FAQ has been substantially updated since this issue was started. @storrgie please see below. Before I close this issue, is anything else outstanding from your perspective?

See https://github.com/deptofdefense/code.mil/blob/master/FAQ.md#who-is-behind-codemil
This isn't being "briefed" at any particular level. Code.mil is an experiment in open source at the U.S. Department of Defense (DoD) bei

[2017-03-07 02:55] ckib16 commented on #100
@shawoods Ok great, thank you.

1. Understood. I do think there is a bunch of former military with dev skills who would be happy to make military tech a little better than what they had. Unfortunately no way to easily do that now as individuals.

2. Ok gotcha, makes sense. Thanks for the info and good luck.

[2017-03-07 17:12] shawoods commented on #100
1 - That's awesome! We really want to collaborate with the retired military community on DoD open source projects. When we get closer to tackling how private developers might bring potentially helpful open source projects to DoD's attention, I'll reengage on this issue.

[2017-03-07 22:02] #41 closed

[2017-03-09 18:46] missyk5150 opened #108 "NATIONAL EMINENT DOMAIN POWER & Who is Accountable?"
OUSD(AT&L) Acquisition Resources & Analysis (ARA)
Property and Equipment Policy
Accountability and Custody for
Government Property and
Contract Property

? eminant domain
Does this include data property??

[2017-03-09 19:24] missyk5150 commented on #108
Publication of DoDI 5000.76 on Accountability of Internal Use Software

[2017-03-09 20:33] BrandonBouier commented on #108
@missyk5150 I've never heard of an example of eminent domain being applied to open source software.

if you can provide such an example, I'll reopen this issue.

[2017-03-09 20:33] #108 closed

[2017-03-09 23:12] missyk5150 commented on #108
Okay maybe this article
https://www.google.com/url?sa=t&source=web&rct=j&url=http://www.cukier.com/writings/acumen-cukier-oct03.pdf&ved=0ahUKEwi8guuuvcrSAhUOyWMKHYnTDjY4ChAWCEIwBA&usg=AFQjCNF3tyooORcdXJyPsCm_ZqVHbsoNwg&sig2=KHdRXPmuN4xmeumcYGubng

[2017-03-09 23:15] missyk5150 commented on #108
Or this from the daily bell.com
- There have been no security breaches or embezzlements with bitcoin, only with 3rd party institutions holding bitcoins. Does Bernie Madoff invalidate the whole US dollar? Does a fraudulent gold smith operating a fractional reserve bullion bank invalidate gold?

"TOR facility that is supposed to keep bitcoin transactions anonymous was developed by the US military, o

[2017-03-09 23:31] missyk5150 opened #111 "Wait a minuite? Is this experiment unnecessary if this is really true??"
http://www.thedailybell.com/editorials/anthony-wile-bitcoin-the-other-crash/
"TOR facility that is supposed to keep bitcoin transactions anonymous was developed by the US military, of all groups"
- Doesn't matter who made it, it's open source.

[2017-03-10 11:36] gerv opened #112 "+1 for new direction of directly using a standard OSS license"
This is a note of support for the new direction of directly utilizing an existing copyright-based open source license, and clarifying how this works via INTENT.md. Lots of us open source licensing geeks think this is clearly the right way to go, and applaud code.mil for its change of direction. Those who agree with this direction may want to comment here or star this issue.

Gerv

[2017-03-10 11:49] pombredanne commented on #112
+1

[2017-03-10 12:41] tomberek commented on #91
Closing as completed.

[2017-03-10 12:41] #91 closed

[2017-03-10 12:51] BrandonBouier commented on #111
@missyk5150 I'm not seeing how the market value of bitcoin is in any way related to what we're doing with code.mil.

[2017-03-10 12:51] #111 closed

[2017-03-10 12:52] BrandonBouier commented on #112
@gerv @pombredanne Thanks to you both! Trust me when I say that we at DDS really appreciate it.

[2017-03-10 13:40] richardfontana commented on #112
I agree, and I also like the way the DCO is used to address this issue. Actually I think this is the most impressive legal development in open source I've seen in years. :)

[2017-03-10 22:29] marctjones commented on #81
@shawoods I like this current approach. I hope my comments were more useful then distracting. I would close this issue.

In the interest of focus I would suggest if anyone (including myself) has any other suggestions they open a specific issue.

[2017-03-10 22:31] brlcad commented on #84
Just a point of clarity, BRL-CAD has been under development since 1979 but wasn't open sourced until 2004.  Copyright was acquired via assignment of a substantial derivative work under contract.  This made it possible to license BRL-CAD as a collective work under any existing copyright-based OSI license without issue.

[2017-03-11 00:51] shawoods commented on #81
@marctjones Your feedback helped make it better, so no distraction at all! Closing, but if anyone has issues with current language please start a new issue.

[2017-03-11 00:51] #81 closed

[2017-03-11 00:52] #99 closed

[2017-03-12 21:25] doughodson opened #116 "I favor the code.mil concept"
I work at the Air Force Institute of Technology (WPAFB) and maintain a project to support real-time simulation application development called "OpenEaagles."  This package is open, and posted on GitHub --
 yet it is clearly oriented at the military community.

I very much like the concept of code.mil, as it might simultaneously encourage more outside developers (with possibly much more experience a

[2017-03-12 23:51] tieguy commented on #112
As a former board member of the Open Source Initiative, drafter of the Mozilla Public License, and a variety of other roles in the open source legal community: +1. This is a very reasonable, constructive approach to a complex problem.

[2017-03-12 23:55] BrandonBouier commented on #112
@richardfontana @tieguy Thanks a lot for the supportive comments!

I personally want to give a huge shoutout to my DDS coworkers @shawoods & @tomberek for their tireless effort to bring this to fruition!

[2017-03-12 23:58] BrandonBouier commented on #116
@doughodson we plan to expand the code.mil site beyond just pointing to this repo, to hopefully make it easier for you & others to find those DoD projects. We'll also be working closely with code.gov as well.

[2017-03-13 10:39] dosaygo-coder-0 commented on #21
@shawoods I think this is all clear now. Close at will! And thanks for asking first.

[2017-03-13 16:02] shawoods commented on #21
Issue resolved!

[2017-03-13 16:02] #21 closed

[2017-03-15 02:49] brlcad opened #117 "DCO requirement"
This issue was discussed on the MIL-OSS mailing list and partially resolved already, but reiterating here as an issue for public comment.  The issue raised: requiring a DCO is legally unproven as necessary, complicated for non-git repositories, and will likely reduce open source effectiveness.

From an acquisitions standpoint, the last point imposes the highest risk as community engagement will be

[2017-03-15 12:59] marctjones commented on #117
I disagree with @brlcad. I think the risks of not clarifying the licensing of contributions is always present because of how our copyright law works. If you do not have a license to modify or distribute a copyrighted work you are committing copyright infringement. Like it or not that is the legal regime we are under. This is the reason why the community celebrated when GitHub took steps to encoura

[2017-03-15 13:08] marctjones commented on #84
Thanks for that clarification @brlcad. It sounds like a very similar approach to what DDS are trying to achieve here. I guess BRL-CAD is the forerunner!

It does not seem like this presents an "issue" to be resolved though. I would suggest that the project maintainers close this issue, once they have checked out BRL-CAD and appreciated the lessons they can learn from it.

BRL-CAD README does do a

[2017-03-15 13:16] marctjones commented on #14
@tomberek I would suggest that since you reopened this issue because of continuing discussion and interest that you can close it now.

I agree with @royfielding that not every government projects should be able to release FOSS code "without requiring a Copyright 101 course in every issue forum hosted by every government agency." It seems this thread when it was active degenerated into lectures abo

[2017-03-15 13:19] blakelapierre commented on #14
This issue should not be closed until the US Constitution is modified to
alleviate the identified contradiction or until the proposed licenses do
not restrict speech.

On Mar 15, 2017 9:16 AM, "Marc Jones" <notifications@github.com> wrote:

[2017-03-15 15:25] brlcad commented on #84
As far as I know @marctjones, my work to get BRL-CAD directly released as open source was the first in the DoD.  There are older DoD codes that went the abandonware public domain route (e.g., GRASS by Army CoE), but still the first to directly get "published" as first-class OSS while still in active funded use.  It took five years, starting in 1998.  I gave a MIL-OSS presentation on it at the seco

[2017-03-15 15:50] marctjones commented on #84
@brlcad out of curiosity. The BRL-CAD site says that the website is not a government website. Who runs the BRL-CAD website and what if any relationship is there to ongoing development by any government agencies that are still involved?

[2017-03-15 15:56] brlcad commented on #117
I wasn't necessarily arguing the value of DCOs as there certainly can be disputes and uncertainty that they address.  The three claims I don't necessarily see addressed in your detailed and thoughtful reply @marctjones is whether 1) DCOs are actually legally proven, 2) that the present additional burden for non-git repositories, and 3) that open source effectiveness (from an acquisitions standpoin

[2017-03-15 16:14] brlcad commented on #84
@marctjones It's run by the BRL-CAD open source community.  The Gov't is a participant in that community, but not the controlling dictating authority (we operate under meritocracy).  Of course, the Gov't is very significant and important supporter and participant, but governance was specifically and intentionally set up so that the BRL-CAD open source participants would not be beholden to current

[2017-03-15 16:31] marctjones opened #118 "Give a better explanation of the impact of forking in "What do I need to know if I fork the project?""
I think the explanation in the FAQ on what happens if you fork the project stops a little short in the implications of licensing the U.S. Government's foreign copyrights. I would suggest that you beef the explanation up a little.

Although a project consisting of only U.S. government works will not have any copyright protection so the license does not attach within the United States (or in any oth

[2017-03-15 17:06] marctjones commented on #84
@brlcad That is awesome. Thank you for the quick response. I think that is a wonderful approach to set up a community driven process. Glad it has worked out for you. And sounds like a good example of citizenship involvement in government.

[2017-03-15 17:37] BrandonBouier commented on #117
@brlcad I think the DCO is a rather unobtrusive and pragmatic approach, speaking as both a developer & government employee. I agree with virtually everything @marctjones said above.  Since we're being anecdotal, I also know notable developers in the OSS community, & they would have no issue signing a DCO (a CLA is a different story - part of the reason we've avoided it). We've also spoken to legal

[2017-03-15 18:27] marctjones commented on #117
@brlcad great comments! I respectfully disagree (at least I do today, I reserve the right to be whimsical and change my mind later.)

I do not doubt that there are many people in the FOSS community that on principal will not sign a DCO or CLA. Personally I think the decision to sign either is more complicated then being pro or con either. Both are just legal tools to help clarify relationships. Pe

[2017-03-16 00:58] shawoods commented on #118
@marctjones I totally agree the FAQ on forking is a little thin. I will ping this issue when I push a PR.

[2017-03-16 02:23] carbtin commented on #116
@doughodson I'm a software developer with the Army and I do agree this is a great idea but I'm also trying to understand how the contribute process would work. Detailing project requirements could expose OPSEC issues and any proposal should be cleared at some level in DoD. Anything I work on could not be exposed in anyway.

[2017-03-16 03:46] brlcad commented on #117
@BrandonBouier certainly you don't think the existence of non-signers implies the non-existence of signers... at issue is potential non-legal implications making DCOs required.  It's making a (legal) risk management decision that is normally in the purview of a project manager who is more aptly suited to consider other (non-legal) risks and implications.  Moreover, I intentionally did not claim to

[2017-03-16 04:21] brlcad commented on #117
@marctjones Love the hedging, and actually mostly agree with your points too.  ;)

DCOs were a result of the SCO lawsuits.  They were conceived as a way to potentially avoid getting into that situation again.  I sincerely doubt they have that effect, but that's mainly because I know the actual developer that committed the code in question that resulted in the lawsuit.  The right hand didn't know w

[2017-03-16 04:22] brlcad commented on #117
Oh, and thanks for the link to Pam's talk @marctjones -- that does sound interesting!

[2017-03-16 14:08] nigelht commented on #117
I submitted a license for review by the OSI that was copyleft downstream (OSL v2) and permissive upstream (apache 2.0 or later) to achieve having a CLA/DCO as part of the license agreement itself.

https://lists.opensource.org/pipermail/license-review/2016-October/002856.html

This allows folks to provide large code dumps that will be able to incorporate downstream updates and changes without need

[2017-03-16 16:09] taz77 commented on #112
Awesome effort! This is great to hear. After years of being a voice of open source and making small advancements on a micro level, it is great to see the DoD doing this as a whole. Not only will there be better code developed, but this will also expose development opportunities to more communities and help fuel the powerful force of competition!

[2017-03-16 16:12] shaun-edwards commented on #112
+1, in my experience, anything outside a standard OSS license causes more pain than it's worth. Great progress!

[2017-03-16 18:01] marctjones commented on #117
@brlcad I had not made the connection with the SCO lawsuits to the DCO, so thank you for pointing that. I was only vaguely aware of the SCO lawsuits at the time they were taking place (I had coincidentally inherited responsibility as a SysAdmin for a SCO Unix box about that time). I am going to leave aside whether or not the Linux DCO would have prevented the SCO lawsuit because well I don't want

[2017-04-01 05:51] jdepriest opened #121 "Different method to identify federal contributions"
When considering contributions by federal employees as stated in section 3, it might be worth considering alternate approaches instead of the email address to allow a contribution to be tagged as a government contribution (no copyright protections).

For example, an employee who works for an agency or group (ex: research group) that uses a *.com, *.org, or other address scheme may not even have a

[2017-04-16 03:13] shawoods commented on #121
@jdepriest Sorry it took so long for us to respond! You make a valid point about the email addresses not providing a 100% capture rate. Thanks for making a specific suggestion to the problem! I anticipate we will experiment on resolving this issue in the next couple weeks with an upcoming project.

[2017-06-05 17:15] Tronald opened #122 "What does this mean for software.forge.mil?"
As far as I understand, software.forge.mil is the current platform for DoD opensource development. Is code.mil going to replace, or simply be a more "open" alternative to forge.mil?

[2017-06-05 17:47] johnmod3 commented on #122
forge.mil is meant only for controlled software development (four, ITAR,
etc.) restricted sorts of things.

Current DoD policy is to be open and do development where it makes sense to
occur

-------------------------------------------
John Scott
 240.401.6574
< jms3rd@gmail.com >
http://powdermonkey.blogs.com
@johnmscott

On June 5, 2017 at 12:15:38 PM, Justin Gielski (notifications@github.com)
wr

[2017-08-30 19:37] #14 closed

[2017-08-30 19:48] jordangov commented on #112
Thanks for the support folks. Closing the issue for a clean(er) issue backlog.

[2017-08-30 19:48] #112 closed

[2017-08-30 21:00] blakelapierre commented on #14
What was this closed?

[2017-08-30 21:01] blakelapierre opened #123 "Outstanding issue closed with no comment"
Issue #14 was closed with no comment.

[2017-08-31 13:16] paultag-gov commented on #123
this doesn't appear to be an issue, you can comment on the closed issue or reopen it.

[2017-08-31 13:16] #123 closed

[2017-08-31 13:16] jordangov commented on #14
My apologies for not explaining this, but there has been no activity since Mar 15 and while it might be nice to have the US Constitution changed to alleviate any perceived contradictions, that is not the goal of this repository. We have legal counsel that has discussed the topic at length and we believe (via counsel) that we have a good path forward.

We thank everyone for the ongoing discussion a

[2017-08-31 13:44] blakelapierre commented on #14
Please post your legal counsels' discussions and findings in relation to
this issue.

On Aug 31, 2017 9:16 AM, "Jordan Kasper" <notifications@github.com> wrote:

[2017-08-31 13:45] blakelapierre commented on #123
I think it's an issue that issues are closed with no comment. Is there no
issue handling protocol at code.mil, or are decisions made arbitrarily?

On Aug 31, 2017 9:16 AM, "Paul Tagliamonte" <notifications@github.com>
wrote:

[2017-08-31 13:51] paultag-gov commented on #123
I'm not particularly involved with code.mil -- code.mil is a part time project for some folks in a small (under 30 person) office at the moment with loads of other projects.

So, no. No protocol, no process, no paperwork, just empower good people to make decisions :).

Just treat this like any other free and open source community

[2017-08-31 13:56] jordangov commented on #14
All of that information is posted by @shawoods in this thread above. This discussion is happening 100% in the open. The original topic was that we will need to change the laws in order to proceed, and that has not been our finding based on the citations and findings above. That is the reason for closing this specific GitHub issue.

[2017-08-31 13:57] jordangov commented on #123
@blakelapierre You're right, issues should not be closed without comment. And I apologized for that in #14.

[2017-08-31 19:22] jordangov commented on #117
Hey folks, I'm going to talk with @shawoods on this one. I am not a lawyer, but active OSS contributor (in my non-gov life) and I will say that I am in that group that will not contribute to a project without a proper license. Although I am not saying I would not contribute without a DCO, I _am_ saying that I do not believe them to be a cause of declining (or limited) community participation.

On

[2017-08-31 19:35] jordangov commented on #84
Hey folks! This is really helpful information, and I'm glad it's in the repo (even though I'm going to close this issue). I'm getting caught up on all of these GH issues to see where the discussion has led, and having context about previous efforts within the gov helps a lot.

Thank you!

[2017-08-31 19:35] #84 closed

[2017-09-01 07:16] brlcad commented on #117
You are tearing through the open issues, @jordangov ... well done. ;)

I don't think anyone was suggesting that the licensing and contribution terms of the project should not be clearly written down.  I certainly wasn't.

Proper (e.g., OSI-approved) should be required.  If the legalese doesn't speak to contributions (e.g., like Apache2 does), other project legal docs (e.g., LICENSE/COPYING file) s

[2017-09-01 12:11] nigelht commented on #117
@bricad "OSI approved" is a problem as they have been remarkably non-responsive to GOSS community needs.  NASA's update to NOSA has been in approval limbo for 3 years.  CC0 is unlikely to get approved any time soon despite FSF and CC saying it's good for software and need by the GOSS community.

Federal agencies have specific needs and desires for their open source strategy that isn't always easil

[2017-09-01 16:13] brlcad commented on #117
I'm well aware of the OSI's inattentive and unfamiliarity with GOSS.  I actually ran on that platform for joining the OSI board (and will likely do so again!) and have called them out on issues several times.  That said, I think the only failure with NOSA is that it wasn't rejected more quickly.  It has problems that were discussed and not addressed due to disagreement.  Fontana's pledge to summar

[2017-09-01 19:23] nigelht commented on #117
I don't believe NOSA v2.0 should have been rejected as the consensus of the list at the time of submission was that it was okay and regardless of any potential issues that it was better than NOSA v1.3 anyway.

In my opinion, the current developer community doesn't pay all that much attention to licenses given only 20% of projects on GitHub has any license at all (https://github.com/blog/1964-open-

[2017-09-01 19:55] jbjonesjr opened #124 "Implement probot-stale to aid in Repository management"
[`probot-stale`](https://probot.github.io/apps/stale/), a [probot](https://probot.github.io/)-app, is used to help manage repositories that don't have day to day interaction. From it's website:

This will automate some of the `work` that @jordangov is having to do now (ex: https://github.com/deptofdefense/code.mil/issues/112#issuecomment-326099287).

[2017-09-01 21:05] jordangov commented on #124
:joy: That's a good little bot. That said, I doubt this code.mil repo will accumulate that much traffic (we only have 14 open issues with this one right now).

Thoughts from others?

[2017-09-01 21:08] jordangov commented on #116
I'm going to close this issue for now. As @BrandonBouier pointed out, we are hoping to get a site up and running to act as that focal point (not GitHub). To @carbtin's points, I think it is off topic for this thread, but it is a good point. This is why each project will need to evaluate whether they fit in this model or not. And beyond that, how their contributions are handled. I think that discus

[2017-09-01 21:08] #116 closed

[2017-09-01 21:10] jordangov commented on #122
I'm not sure that any of us can really answer what will happen to forge.mil, but we do see this as a different effort, if not 100% so. In any case, to close out the issue, we have no direct connection or control over forge.mil and as far as I know it will not be going away or be replaced by code.mil.

[2017-09-01 21:10] #122 closed

[2017-09-06 04:37] brlcad commented on #117
I guess I should have expected this after taking the bait... ;)  I hope to get too far off topic @nigelht, as it distracts from the important DCO point, but I know there was not consensus on NOSA 2 *approval* though a majority did agree it was better.  That said, I also don't think it's nearly as relevant today given all the discussions prompted by different approaches: by ARL's open source policy

[2017-09-06 15:31] nigelht commented on #117
Lets agree to table the NOSA discussion except for the caveat that NASA believes it is still required and does not believe that the ARL approach addresses all of their GOSS policy needs.

It has appeared that other issues not related to DCO have been merged with this issue (i.e. #116).  We can open a new issue regarding patents if you like.

With respect to patents ARL has NOT addressed these issu

[2017-09-06 15:42] jordangov commented on #117
@brlcad @nigelht This is good conversation, but yes, it is off topic for this issue. Please open a new issue for this to discuss in.

This issue needs to remain focused on the DCO requirement. If there are further thoughts, opinions, conjectures, research, critiques, or notions on that issue, please post them here! I'll be getting more input from our counsel (@shawoods) soon (hopefully) and then w

[2017-09-06 16:02] shawoods commented on #117
IMO the reality is that much of this is theoretical because so little of it has been explicitly litigated. Whether DCO is legally necessary is not a simple yes/no, but a matter of how much risk the repository owner is willing to take on. The Federal government, especially when contracts and IP are involved, is at risk of litigation and contract claims. As a program counsel, the question becomes wh

[2017-09-11 22:02] marctjones commented on #117
@shawoods I like your DCO "light" procedure. It frees up some annoyance and in terms of documenting the agreement of the contributors, doesn't seem like one would be more effective than another.

I think the one advantage to requiring the traditional sign off on a DCO submission is that it might be easier to create a bot to automatically enforce the DCO sign off requirement since the sign off will

[2017-09-12 15:53] jordangov commented on #117
@marctjones We do [have a bot](https://github.com/deptofdefense/dco-bot). :) We suggest it being added to any repo in a webhook that is following the code.mil process, specifically the DCO requirement. And yes, you are correct that we could have the bot check the contributors file instead.

Based on the opinions of @shawoods and other commentary here, I'm recommending that we move to DCO being a r

[2017-09-12 15:53] #117 closed

[2017-09-12 15:55] jordangov opened #125 "Add language to make the DCO process optional"
Per the discussion in #117 we are going to make the DCO process optional for projects following the code.mil initiative. This issue is for changing the language in the current repo (and on the subsequent web site).

_NOTE: this is not the place to discuss whether or not to do this. If you have comments to add on that topic please add them to #117._

[2017-11-13 22:06] fulldecent commented on #85
#92 is merged, closing this issue. Discussion continues at #126 which gets this code published to the world wide web.

[2017-11-13 22:06] #85 closed

[2018-01-10 14:48] jordangov opened #136 "Support back button on "getting started" page"
We need to add support for the back button the Getting Stared workflow page. Currently you have to use the "reset guide" button to use the page again (or refresh).

[2018-01-10 14:50] jordangov opened #137 "Smooth scroll the getting started page"
When a user clicks on a button option on the Getting Started page, the screen currently jumps down to the new content, however it feels very jerky. It would be better to have this smooth scroll and maybe center the new content.

[2018-01-10 14:51] jordangov opened #138 "Make sidenav stay visible on scroll"
The navigation on ‘How to Open Source’  and ‘FAQ’ (or really on any page with side-nav) should have the side-nav scroll with the user down the page, not stay locked at the top.

[2018-01-10 14:56] jordangov opened #139 "Clean up footer on mobile"
We should take a look at cleaning up the footer on mobile browser sizes. See the image below. The sizing of icons, spacing, and alignment should all be looked at and (probably) tweaked.

![code-mil-footer](https://user-images.githubusercontent.com/30059011/34778834-765410f4-f5ec-11e7-87fb-942d6e118084.png)

[2018-01-10 14:57] jordangov commented on #125
This is worked into the new code.mil website (launching soon-ish)

[2018-01-10 14:57] #125 closed

[2018-01-10 15:06] jordangov opened #140 "Add featured code projects "above the fold" on homepage"
Users visiting the site might want to see some of the neat projects that have been open sourced within the DoD. It would be good to have a snapshot of two or three of these on the homepage, above the fold.

(Perhaps a slideshow instead of the static hero element?)

[2018-01-10 15:15] jordangov commented on #6
This is obviously a really old issue, but just as an FYI, we haven't lost site of this, but it's not going to happen for the current redirect. We're targeting this for the launch of the full code.ml website (soon ish).

[2018-01-10 15:22] jordangov commented on #51
This one is pretty old... @marctjones Can you look at the current FAQ (in the `static-site` branch) and see if you would suggest changes with specific regard to contributions? I'm going to close this issue as we have other issues on similar topics, but if there is a concern we should open a new, specific GH issue for each topic (versus piling on a bulk issue).

[2018-01-10 15:22] #51 closed

[2018-01-10 15:37] jordangov opened #141 "Improve contributing documentation"
We need to add information on how to run the site locally, build & test, what we need in a PR, etc.

[2018-01-10 21:27] konklone commented on #6
:+1: As a note, DoD recently authorized the use of DV commercial certificates, which could make it easier to obtain a quick-and-dirty cert and get it in place.

[2018-01-14 18:41] Travis42 commented on #100
How are those efforts coming along?

[2018-01-16 14:05] jordangov commented on #6
Yep, we're working with the policy folks to make this a reality. Not quite there yet, but close (we think).

[2018-01-23 18:22] jordangov commented on #141
Added docs to `static-site` branch... @jgarber623-gov can you review?

[2018-01-23 19:09] jgarber623-gov commented on #141
@jordangov Looks pretty good to me. A couple of suggestions:

1. A user shouldn't have to `gem install jekyll` since Jekyll is part of the `Gemfile`.
1. I would add a note about cloning the relevant branch (since the site's code isn't in `master`):

[code]

Otherwise, looks solid! 👍

[2018-01-23 20:10] jordangov commented on #141
Ah, yes for 1 and 3... my mistake. On 2, we don't plan for this to be a different branch, it will be `master` sooooon. :)

Thanks!

[2018-01-23 20:11] #141 closed

[2018-01-29 20:45] jordangov opened #143 "Add proper "release" process"
This involves only deploying to a beta site on PR merge, but deploy to a prod site on an actual GH "release".

[2018-01-29 20:46] jordangov commented on #100
Hey folks, I'm going to close this issue for inactivity. But you should stay tuned this week for updates on code.mil :)

[2018-01-29 20:46] #100 closed

[2018-01-29 20:48] jordangov commented on #124
In thinking more about this, we're going to hold off on it. Mostly because closing an issue automatically in the Federal Government could be unintentional at the speed we tend to move at (unfortunately). That said, we need to do a better job at issue curation, and if we can't then maybe we can revisit this issue.

[2018-01-29 20:48] #124 closed

[2018-01-29 20:57] jordangov opened #144 "Add FAQ item for git history and records retention"
This is the guidance coming out of #67 on FOIA, records retention, and git history rewrites. This language needs a little review, but I'm generally in favor of it.

@shawoods: can you review?

----

# A note on `git` features and rewriting history

The `git` program and hosted services such as GitHub include the ability for you to permanently delete parts of your project. They also allow you to "r

[2018-01-29 20:57] jordangov commented on #67
Hey folks, it's been a while, but I wanted to close this one out. Here is what we have implemented and our plan:

1. We have protected the `master` branch on this repository. That branch will be the guidance that DDS is actually offering and can only be updated via a Pull Request. There will be no deletions or force pushes to that branch, including administrators of this GitHub organization.
2. I

[2018-01-29 20:57] #67 closed

[2018-01-30 00:00] jordangov opened #145 "Add guidance/language for contracts or PWS"
I would like to provide specific language and guidance for DoD organizations that are still negotiating a contract with a custom software developer such that delivery can be made via an open source repository (properly licensed).

[2018-01-30 13:28] DaveEide commented on #145
👋 @jordangov @shawoods

I'd recommend taking a look at the [Data Rights Section](https://github.com/vistadataproject/documents/blob/master/Submissions/src/VistAMetadata-2015-12-09-PWS.md#data-rights) from the [interagency agreement](https://github.com/vistadataproject/documents/blob/master/Submissions/src/VistAMetadata-2015-12-09-PWS.pdf) between the Veterans Health Agency and the Defense Health A

[2018-01-30 13:49] jordangov commented on #145
Thanks @DaveEide!

[2018-01-30 15:25] fulldecent opened #147 "Add favicons"
Currently the site (static-site branch) has no favicons, everyone loves favicons.

[2018-01-30 15:28] fulldecent commented on #147
Here you go:

[favicons.zip](https://github.com/deptofdefense/code.mil/files/1678270/favicons.zip)

Methodology:

1. Save https://github.com/deptofdefense/code.mil/blob/static-site/assets/images/dds-logo-desktop-full.png
2. Use https://realfavicongenerator.net/
3. Decompress
4. Use ImageOptim on those files
5. Recompress and attach here

[2018-01-30 16:03] fulldecent commented on #143
References:

https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A

https://stackoverflow.com/questions/24679889/how-to-start-travis-ci-deploy-only-when-tag-name-matches-a-regex

[2018-01-30 16:05] fulldecent commented on #144
^^ I'm the author

[2018-01-30 16:24] jordangov commented on #144
:) I did leave that out... sorry!

[2018-01-30 18:10] jordangov commented on #136
Yep, that's the right way (IMO)... but the time to actual implement it..... sigh. ;)

[2018-02-05 21:29] jordangov commented on #147
I'd like to rename this issue to "Design a Code.mil logo" and then we can use that logo in all formats/sizes, including a favicon. Thoughts?

[2018-02-05 21:34] fulldecent commented on #147
@jordangov Updated issue for new issue scope.

[2018-02-05 21:37] jordangov commented on #147
For now, the first two checkboxes are still DDS, with myself and the DDS design team as the reviewers. Stakeholders could be anyone in DoD. :)

[2018-02-06 22:02] jordangov opened #151 "Add GitHub issue/pr template"
I want to give people some guidance on how to submit issues/prs to this repo. Such a template needs to include information for issues on: content, code, and policy/legal/discussion/etc

[2018-02-08 17:20] jordangov opened #154 "Add a checklist of things to do before open sourcing"
This is more about the code repo itself (and related docs), not the policy side of it. We could base this on GSA's (which was worked on by the Code.gov team): https://github.com/GSA/open-source-policy/blob/master/open_source_checklist.md

[2018-02-09 19:11] KelseyHastings opened #155 "Missing Hyperlinks on README"
Section 'make us better': 2 missing hyperlinks within "We've drafted documentation on implementing OSS within the DoD and a guideline for accepting contributions to DoD OSS projects" -  defaults to the 404 error page.

[2018-02-09 22:38] lukefretwell commented on #6
Go @konklone! :-)

Any update on resolving this?

[2018-02-09 23:33] konklone commented on #6
Note -- Let's Encrypt now supports `.mil` certificates:
https://github.com/letsencrypt/boulder/commit/dae0e4e41d8399e7b6e4cff9056071eb77965698

You can see one in action already by the Navy (through a GSA shared service, Search.gov, that issues them for custom domains):

https://search.navy.mil/search?query=boats&btnG=%C2%A0&utf8=%E2%9C%93&affiliate=navy_all

[2018-02-10 17:12] arichiv-usds commented on #143
@jordangov all set on https://s3.amazonaws.com/beta.code.mil/index.html, LMK when the DNS is set and I'll close this out

[2018-02-11 00:36] konklone commented on #6
@hlieberman-gov I don't see it on my phone - is it only on code.mil but not www.code.mil?

[2018-02-11 00:37] konklone commented on #6
To answer my own question, it looks like yes - the only cert for code.mil lacks the www SAN: https://crt.sh/?id=326566888

[2018-02-12 15:54] arichiv-usds commented on #143
Done!

[2018-02-12 16:49] jordangov commented on #143
reopening to remind me to set DNS

[2018-02-12 16:58] arichiv-usds commented on #155
Done! Thanks #158

[2018-02-12 16:58] #155 closed

[2018-02-12 16:59] jordangov commented on #143
DNS change request sent.

[2018-02-13 18:01] jordangov commented on #6
This. Is. Live.

HTTPS://code.mil
(and HTTPS://www.code.mil)

Big thanks to @hlieberman-gov.

[2018-02-13 18:01] #6 closed

[2018-02-13 18:02] jordangov opened #160 "Add a press section?"
We might want a page to track press / announcements / releases / etc.

[2018-02-13 21:27] sposhe opened #162 "Fix typo in how-to-open-source.md"
`code.mil/_pages/how-to-open-source.md`, line 20: "opening sourcing" --> "open sourcing"

"This is one suggested workflow for opening sourcing an existing project"
should read
"This is one suggested workflow for open sourcing an existing project"

[2018-02-14 14:59] jordangov commented on #162
Thanks! We'll try to get to that soon. (But feel free to submit a PR if you're interested!)

[2018-02-14 17:06] sposhe commented on #162
Thanks. I started to do a PR but then read through the contribution guidelines. Would I have to follow the DCO process for something this small?

[2018-02-14 17:07] jordangov commented on #162
Yes, we would still need that. However, we use a "DCO light" sort of process, so all you need to do is add your name and email to the "CONTRIBUTORS.md" file along with the PR. :)

[2018-02-14 17:59] konklone commented on #6
Congrats, all! 🎉

[2018-02-14 18:09] #162 closed

[2018-02-16 04:35] daviddyess commented on #160
I'm working on a mock up for this, if anyone has any suggestions

[2018-02-16 15:27] jordangov commented on #160
🤷‍♂️
I'm pretty open. Maybe check out the USWDS components for inspiration?

[2018-03-05 17:59] #143 closed

[2018-03-12 12:27] arichiv-usds opened #168 "Upgrade to uswds-jekyll 3.0"
Let's see if this fixes any outstanding issues

[2018-03-12 12:49] arichiv-usds opened #172 "Move this repo to code-dot-mil organization"
- [x] Setup Travis CI for `code-dot-mil`
- [x] Transfer `deptofdefense/code.mil` -> `code-dot-mil/code.mil`
- [x] Create a new `deptofdefense/code.mil` that pushes people to `code-dot-mil/code.mil`
- [ ] Fix links in medium post

[2018-03-12 12:49] arichiv-usds commented on #172
@jordangov Let me know when to proceed :-)

[2018-03-12 13:35] arichiv-usds commented on #172
See https://github.com/deptofdefense/redirect.code.mil for what I was thinking of for a redirection repo

[2018-03-12 13:38] arichiv-usds commented on #172
@shawoods and @reinastaley for review

[2018-03-12 14:18] arichiv-usds opened #173 "Add scan to keep Gemfile.lock up to date"

[2018-03-12 14:19] jordangov commented on #172
I'm good with this move generally, but I wanted to get Sharon's take on it first just in case there's any legal weirdness.

[2018-03-12 17:57] #168 closed

[2018-03-12 19:50] arichiv-usds commented on #139
This is re-flowing reasonably

[2018-03-12 19:50] #139 closed

[2018-03-13 14:04] arichiv-usds commented on #173
I think I'll just set a reminder to check, anything else feels too heavyweight :-/

[2018-03-13 14:04] #173 closed

[2018-03-13 14:21] jordangov commented on #173
Let's set a reminder in code.mil Slack so it goes to everyone?

[2018-03-13 14:26] arichiv-usds commented on #138
I should fix this in the library using https://github.com/18F/uswds-jekyll/issues/100

[2018-03-13 14:28] jordangov commented on #138
Oooh... even better

[2018-03-13 14:35] jordangov opened #175 "Add "help wanted" labels to this repo and some issues"
The [documentation](https://github.com/GSA/code-gov/blob/master/HelpWanted.md) for how to do that is on the Code.gov GitHub repo.

[2018-03-13 14:56] #151 closed

[2018-03-13 15:15] arichiv-usds commented on #175
I tagged a couple, is the next task to expose them on code.mil the way code.gov does?

[2018-03-13 15:17] arichiv-usds commented on #147
@LillyMadigan any interest in taking a stab at this? EX: Code.gov logo in upper left corner https://code.gov/

[2018-03-13 15:25] jordangov commented on #147
Or maybe Meenal? I'm not sure she's on GH yet

[2018-03-13 15:26] jordangov commented on #175
Nope, they'll get picked up by Code.gov. But we need to implement the other labels to get them categorized on the Code.gov site. That includes the level of effort and such.

[2018-03-13 15:55] arichiv-usds commented on #147
@meenaldds

[2018-03-13 17:07] deepgray opened #178 "code injection"
as a pentester on government systems, i frequently look for open githubs where i may be able to inject hostile code to be included in a deployment during continuous development / continuous integration…

and i’m a good guy…

what is to keep or prevent a hostile actor from injecting hostile code to be used on projects through open source processes?

[2018-03-13 17:45] arichiv-usds commented on #178
That's a great question! I have a few initial thoughts:

- Sensitive data sources must not be accessible through publicly exposed CI
- Sensitive repositories should not use publicly exposed CD
- Repositories with publicly exposed CI/CD need to be especially careful accepting pull requests
- Where prudent, multiple layers of checks should occur after GitHub pull request review

[2018-03-13 20:35] jordangov commented on #178
Thanks for the ping @deepgray! Ari's comments are more or less what I would say as well. We (all of gov really, not just DoD) need to be keen to identify potential security risks in our pipeline and call those out so that PR reviews don't introduce vulnerabilities.

Were there any specific flaws you've identified that we should address? If you need to disclose these non-publicly you can use our em

[2018-03-16 17:50] line47 commented on #138
We'd love your participation @arichiv-usds 🎉

[2018-03-19 14:36] arichiv-usds commented on #178
Please re-open if we can provide additional clarification!

[2018-03-19 14:36] #178 closed

[2018-03-19 14:37] #121 closed

[2018-03-19 14:37] #30 closed

[2018-03-19 14:37] #80 closed

[2018-03-19 14:38] #87 closed

[2018-03-19 14:42] jordangov commented on #118
@arichiv-usds I'm not sure if @marctjones' comment was fully addressed. Let's leave this open for a bit and see if he responds.

@marctjones Can you look at this [FAQ on forking](https://www.code.mil/frequently-asked-questions.html#what-do-i-need-to-know-if-i-fork-the-project) and let us know what you would change, or like added? If the current content is clear then we'll close this issue in a wee

[2018-03-19 19:41] jordangov opened #180 "Add "help wanted" instructions to site"
## Content

I would like the instructions on "how to open source" to include information on how to use the Code.gov "help wanted" labels so that GH issues can be displayed on the Code.gov site. Instructions for using these labels can be found on the ["code-gov" repo](https://github.com/GSA/code-gov/blob/master/HelpWanted.md).

## Page(s) Affected

https://www.code.mil/how-to-open-source.html

But

[2018-03-20 11:00] arichiv-usds opened #182 "Automatically set .mil on header"
## Feature

Right now we use some janky JS to swap out the .gov header info for .mil header info. Let's fix this at the source.

## Page(s) Affected

https://code.mil/*

[2018-03-20 12:48] marctjones commented on #118
@shawoods @jordangov I think the first bullet point is misleading. It says "If the project includes no copyrighted code," but copyright is jurisdictionally based. So even though I am located in the United States and there are no copyrights in the code base here, but there does exist copyrights in Canada. The existence of copyrights depends on both who created the work and where a copy of the work

[2018-03-20 14:34] jordangov commented on #118
@marctjones Thanks! I think that addition is useful, I'll try to get it into the site, might wordsmith it just a bit.

That said, you said the first bullet is misleading... thoughts on a better phrasing for it?

[2018-03-20 14:42] #137 closed

[2018-03-20 15:59] marctjones commented on #118
@shawoods Yes, please wordsmith it.

For the first paragraph, maybe something like: "If the project includes no copyrighted code _**in your jurisdiction**_ (so there have been no merged copyrighted contributions and your jurisdiction does not recognize copyright for U.S. Government-written work), then ‘LICENSE.md’ has not attached to the project.

[2018-03-20 16:42] marctjones commented on #145
Not endorsing any of the specific language, but here are three more examples of government contracts with FOSS requirements:

* CA CWDS
    * [CWDS Vendors](https://cwds.ca.gov/vendors)
    * [Direct Link to CWS-CARES General Provisions](https://static-cwds-io.s3.amazonaws.com/uploads/ckeditor/attachment_file/data/391/CWS-CARES_General_Provisions.pdf)
* Mississippi Agile Vendor Pool
    * [MDCPS P

[2018-03-20 17:18] jordangov commented on #118
Cool, thanks Marc!

[2018-03-20 17:19] jordangov commented on #145
Awesome, thanks!

[2018-03-20 23:39] arichiv-usds commented on #172
@bowtietim Sound good?

[2018-03-21 15:13] jordangov commented on #172
Tim's great, but we need @shawoods to sign off.

[2018-03-21 15:41] arichiv-usds commented on #172
Sorry, @shawoods said she was good as long as @bowtietim signed off

[2018-03-21 17:09] jordangov commented on #172
Aaah... gotcha! Cool beans.

[2018-03-22 23:17] #182 closed

[2018-03-23 10:40] arichiv-usds opened #184 "Subnav Autogen"
https://github.com/deptofdefense/code.mil/blob/master/assets/js/main.js#L50 should be a part of 18F/uswds-jekyll

[2018-03-23 13:10] jordangov commented on #184
Maybe... I dunno. How would this be configured? In other words, you wouldn't want it enabled by default.

[2018-03-27 00:08] #184 closed

[2018-03-27 00:11] arichiv-usds opened #186 "Project Validation"
We should validate the JSON before pushing any changes that could break or improperly update project info.

[2018-03-27 01:32] timvanname commented on #172
I’m good with this. Thank you both!

[2018-03-27 12:40] jgarber623-gov commented on #186
Possibly useful links:

- [Code.gov's online schema validator](https://code.gov/#/policy-guide/docs/compliance/inventory-code/tools/validate-schema)
- [The source code](https://github.com/GSA/code-gov-web/tree/master/src/app/components/tools/schema-validator) for Code.gov's online schema validator (written in TypeScript)

[2018-03-27 12:43] arichiv-usds commented on #186
Nice

[2018-03-27 21:12] jordangov commented on #186
Yeah... FYI, I've talked to Alvand and they'd like to get the schema validation into the API, but it is not there right now. We may want to wait for that versus doing this.

[2018-03-27 21:26] arichiv-usds commented on #186
Maybe I could add that :-)

[2018-04-01 01:03] davidbgk commented on #172
There are still a lot of references/links to the previous repository, see https://github.com/Code-dot-mil/code.mil/search?utf8=%E2%9C%93&q=deptofdefense&type=

[2018-04-01 11:19] arichiv-usds commented on #172
That's a great catch! I'll fix the links, @jordangov can you get the medium post?

[2018-04-03 13:16] jordangov commented on #172
I don't control that... maybe @jgarber623-gov ?

[2018-04-03 13:18] #136 closed

[2018-04-03 16:30] ckaran opened #190 "FAQ regarding project submittal may be out of date"
## Bug

The [FAQ](https://www.code.mil/frequently-asked-questions.html) says that we should submit our project's information to this [Google doc](https://docs.google.com/forms/d/e/1FAIpQLSebDzfqkH8ANSuqQFqValypmceVxNfEzOxMURfQQBAt4IgFQw/viewform?usp=sf_link), but Step 6 in [How to Open Source Code](https://www.code.mil/how-to-open-source.html) says that we just need to email you.  Is the FAQ out o

[2018-04-05 02:00] jordangov commented on #190
Thanks for the submission! We'll try to get the documentation more clear. FYI, either way is fine for now. :)

[2018-04-06 00:15] #138 closed

[2018-04-18 18:37] jordangov commented on #190
Gotcha, in that case you just email us! code@dds.mil

We do plan to have a form hosted on Code.mil itself in the future.

[2018-04-23 16:00] hlieberman-gov opened #193 "Mixed Content"
## Bug

www.code.mil is loading mixed content that's blocked.

## Page(s) Affected

all pages.

## Screenshot/Mock

Content Security Policy: Directive ‘frame-src’ has been deprecated. Please use directive ‘child-src’ instead.
Blocked loading mixed active content “http://www.code.mil.s3-website-us-east-1.amazonaws.com/assets/uswds/fonts/merriweather-bold-webfont.woff2”
[Learn More]
www.code.mil
Blo

[2018-04-23 16:03] jordangov commented on #193
Who needs fonts...

[2018-04-23 16:04] jordangov commented on #193
That said, I don't see that in production...

[2018-04-23 16:13] hlieberman-gov commented on #193
It's in prod.

On Mon, Apr 23, 2018 at 12:04 PM, Jordan Kasper <notifications@github.com>
wrote:

--
Harlan Lieberman-Berg
Defense Digital Service

[2018-04-23 17:29] jordangov commented on #193
Discussed with @hlieberman-gov looks to be an issue with hitting the AWS instance directly (which is not https) and then hitting the live site, which goes through cloudfront on https... not sure what to do about this, or if we need to do anything.

[2018-05-29 17:06] jordangov opened #199 "Potential clickjack vuln"
## Bug / Vulnerability

This was reported through the DoD VDP. Basically someone could load our site in an iFrame and then inject JS into it.

## Page(s) Affected

https://code.mil/

One mitigation would be to add the `X-Frame-Options` header to `DENY`

(See the Code.mil channel in Slack if you want to see the original report)

[2018-05-29 17:11] #172 closed

[2018-05-29 17:54] #193 closed

[2018-05-29 18:07] arichiv commented on #186
https://github.com/GSA/code-gov-web/issues/564

[2018-05-29 18:15] jordangov commented on #199
I created an invalidation on cloudfront, but I'm still not seeing this header on the live site.

[2018-05-29 19:13] jordangov commented on #199
With no data collection, I'm inclined to agree. That said, if we add the project entry form, we may need to do this. I don't think we can ignore it then, soooo...?

[2018-05-29 20:16] arichiv commented on #199
Whatever hosts the project entry form would be dynamic, and could do this individually. That said, the project entry form might not need iframe prevention. I mean, google forms can be embedded right?

[2018-05-29 21:26] #160 closed

[2018-05-31 17:07] BalajiJBcs commented on #199
Can you run this following command `grep -ri "X-Frame-Options" /var/www` where  /var/www is folder where your website code reside. If it responds yes it is set, if not you should fix.

[2018-05-31 17:21] arichiv commented on #199
Hi @BalajiJBcs! We’re using static hosting vis AWS (S3 + CloudFront) right now, which doesn’t seem to allow a way to set the header at all, unless we also add Lambda functions into the mix

[2018-06-01 02:04] BalajiJBcs commented on #199
@arichiv ok I got it. Ok for this kind of static site why not you use CSP as a security measure to prevent clickjacking, It can be implemented in the header like this

`<meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self'">`

Hope this solves the issue.

[2018-06-01 02:13] arichiv commented on #199
I didn’t know about that tag, thanks!

[2018-06-01 05:53] BalajiJBcs opened #201 "Add favicon to the website"
The favicon for the code.mil is the US flag, but right now there is no mechanism to show favicon at code.mil
adding the following snippet to header would  fix the problem

`<link rel="shortcut icon" type="image/x-icon" href="https://www.code.mil/assets/uswds/img/favicons/favicon-57.png"/>`
or

`<link rel="shortcut icon" type="image/x-icon" href="assets/uswds/img/favicons/favicon-57.png" /> `

[2018-06-04 22:40] #199 closed

[2018-06-11 15:52] arichiv commented on #201
Merging with #147

[2018-06-11 15:52] #201 closed

[2018-06-13 20:09] arichiv opened #206 "Add screenshot based testing"
I should be able to store screenshots in S3 and post links to them using GitHub's API. This would make editing online a much more viable approach

[2018-06-15 16:51] jordangov commented on #206
I don't understand this... what are we "editing online"? And what screenshots are we testing?

[2018-06-15 17:51] arichiv commented on #206
Ah sorry! Description updated

[2018-06-15 19:36] jordangov commented on #206
Aaaah... interesting.

[2018-06-22 16:38] arichiv opened #212 "Add GitHub Bot"
This should post the screenshots

[2018-06-22 16:54] arichiv opened #213 "Missing content on home page"
@jordangov

[2018-06-22 16:55] jordangov commented on #213
:) Thanks... maybe a bit more in here? 😛

Need to figure out why the automated screenshot grabber isn't capturing the entire page.

[2018-06-22 16:56] arichiv commented on #213
@jordangov looks like the whole page to me: https://www.code.mil/

[2018-06-22 17:19] jordangov commented on #213
So ... I think it's bigger than just the Press section. We're missing the ["What is Code.mil"](https://github.com/Code-dot-mil/code.mil/blob/master/_pages/index.md) bit as well.

[2018-06-22 17:20] arichiv commented on #213
I'm guessing it's a uswds library change

[2018-06-22 17:20] arichiv commented on #213
this is the kind of change screenshots will help catch :-)

[2018-06-22 17:21] arichiv opened #216 "Migrate infra to terraform"